@use '../../globalStyle.module.scss' as *;

$steps: 11;

$step-size: 100% /($steps + 1);

@for $i from 1 through $steps {

    $percentage: $step-size * $i;
  
    // Mix the two colors based on the percentage
    $mixed-color: mix($cor-secundaria, $cor-primaria, $percentage);
    // $mixed-color: mix($cor-primaria, $cor-secundaria, $percentage);
  
    // Assigning rules to specific elements
    .background svg path:nth-child(#{$i}),
    .logoHole svg path:nth-child(#{$i}) {
    fill: darken(saturate($mixed-color, 15%), 5%);
    // fill: $mixed-color;

  }

}

.background {

    opacity: 0;

    // width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    width: 10rem;
    height: 100vh;
    // padding: 1rem 0;

    overflow: hidden;
    z-index: 1;

    // transition: width 400ms ease;
    // height: 100vh;

    // position: absolute;
    // position: fixed;
    // top: 0;
    // left: 0;
    // z-index: -1;
    // background-size: contain;
    
    backdrop-filter: blur(1px);

    svg {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        // width: 100vw;

        path {
            stroke: none;

            transition: d 2s;

        }

    }   

}

.nav {

    position: fixed;
    top: 0;

    display: flex;
    flex-direction: column;
    gap: 2rem;

    height: calc(100vh - 2rem);
    width: 4rem;
    padding: 1rem 0;

    background-color: transparent;

    overflow: hidden;
    z-index: 2;

    // padding-left: 0.5rem;

    border-bottom: 2px solid transparentize($cor-secundaria, 0.9);
    
    transition: border 2s ease,
                background-color 400ms ease,
                width 400ms ease,
                backdrop-filter 400ms ease,            
    ;

    &:hover {

        border-bottom: 2px solid $cor-secundaria;

        width: 10rem;
        // background-color: transparentize($cor-primaria, 0.3);
        background-color: transparent;
        // backdrop-filter: blur(2px);

        > .links a button p {

            opacity: 1;

        }

        > .background {

            opacity: 1;

        }

    }

    // .background {

    //     opacity: 0;

    //     width: 100%;
    //     height: 100vh;

    //     position: absolute;
    //     // position: fixed;
    //     // top: 0;
    //     // left: -30rem;
    //     // z-index: -1;
    //     // background-size: contain;
        
    //     backdrop-filter: blur(1px);

    //     svg {
    //         path {
    //             stroke: none;

    //             transition: d 2s;

    //         }

    //         height: 100vh;
    //         width: 100vw;
    //     }   

    // }

    svg {

        width: clamp(50px, 50px, 50px);
        height: clamp(50px, 50px, 50px);

        path, circle {

            stroke: $cor-mix;

        }

    }

    span {

        display: inline-flex;
        align-items: center;
        gap: 0.5rem;

        height: 4rem;
        margin: 0 0.3rem;
        // padding-left: 0.3rem;
        border-bottom: 2px solid transparentize($cor-secundaria, 0.8);
        border-image: linear-gradient(to right , transparent, cor-mix(40%) 50%, transparent) 5;

        transition: border 1s ease;

        svg {

            min-width: 50px;

            circle {

                stroke: none;

            }

        }

        h2 {

            display: flex;
            align-items: center;
            margin: 0;
            padding: 0;
            color: $cor-secundaria;
            font-style: italic;

        }
    }


    .links {

        display: flex;
        flex-direction: column;
        gap: 1rem;
        box-sizing: border-box;
        // padding-left: 0.5rem;
        padding: 0 0.5rem;

        a {

            button {

                position: relative;

                display: inline-flex;
                align-items: center;
                gap: 0.75rem;

                height: clamp(48px, 48px, 48px);

                background: none;
                outline: none;
                border: none;

                border-radius: 0.5rem;
                // border-bottom: 4px solid transparent;

                color: $cor-secundaria;
                font-size: 1rem;
                text-align: start;
                
                // width: min-content;
                width: 100%;

                // opacity: 0;

                cursor: pointer;

                transition: opacity 1s ease, 
                            border 600ms ease,
                            background-color 400ms ease,
                            box-shadow 400ms ease,
                            width 100ms ease,
                            ;

                &:not(.active):hover {

                    // background-color: transparentize($cor-secundaria, 0.95);
                    background-color: transparentize($cor-secundaria, 0.8);
                    backdrop-filter: blur(2px);
                    // box-shadow: 2px 2px 10px 1px $cor-primaria;

                    > p {
                        color: lighten($cor-secundaria, 0.1);
                        
                    }

                    > svg {
                        path, circle {
                            stroke: lighten($cor-secundaria, 0.1);
                        }
                    }
                    // border-bottom: 4px solid $cor-secundaria;

                }
                
                svg {
                    opacity: 1;
                    min-width: 35px;
                    max-width: 35px;
                    
                    path, circle {
                        transition: stroke 400ms ease;
                    }
                }

                p {

                    opacity: 0;

                    padding: 0;
                    margin: 0;

                    font-weight: 500;

                    transition: opacity 400ms ease,
                                color 400ms ease,
                                font-weight 400ms ease;

                }


                
            }

            .active {

                // background-color: $cor-secundaria;
                 
                & > div {

                    position: absolute;
                    right: 0;

                    z-index: -1;
                    border-radius: 0.5rem;
                    background-color: $cor-secundaria;
                    width: 100%;
                    height: 100%;

                }

                svg {
                    path, circle {
                        stroke: $cor-primaria;
                    }
                }
                
                p {
                    color: $cor-primaria;
                }

            }

        }

    }

}