@use '../globalStyle.module.scss' as *;
@use 'sass:color';

.header {

    position: sticky;

    display: flex;
    width: 100vw;
    gap: 2rem;

    padding-left: 4rem;

    border-bottom: 2px solid cor-mix(10%);
    
    transition: border 2s ease;

    &:hover {

        border-bottom: 2px solid $cor-secundaria;

        > span a button {

            opacity: 1;

        }

    }

    svg {

        width: clamp(50px, 50px, 50px);
        height: clamp(50px, 50px, 50px);

        path, circle {

            stroke: $cor-mix;

        }

    }

    div {

        display: inline-flex;
        gap: 0.5rem;

        transition: border 1s ease;

        h2 {

            display: flex;
            align-items: center;
            margin: 0;
            padding: 0;
            color: $cor-secundaria;
            font-style: italic;

        }
    }


    span {

        display: flex;
        gap: 1rem;
        box-sizing: border-box;

        a {

            button {

                display: inline-flex;
                align-items: center;
                gap: 0.5rem;

                background: none;
                outline: none;
                border: none;
                border-bottom: 4px solid transparent;

                color: $cor-secundaria;
                font-size: 1rem;
                text-align: start;
                
                width: min-content;

                opacity: 0;

                cursor: pointer;

                transition: opacity 1s ease, border 600ms ease;

                &:hover {

                    background-color: cor-mix(5%);
                    border-bottom: 4px solid $cor-secundaria;

                }

                
            }

        }

    }

}

.logo {

    position: fixed;
    top: 2rem;
    left: 6rem;

    display: flex;
    gap: 1rem;

    svg {

        width: clamp(50px, 50px, 50px);

        path, circle {
            
            stroke: cor-mix(30%);

        }

    }

    h2 {

        display: flex;
        align-items: center;
        margin: 0;
        font-size: 1.5rem;
        // @include font-bold;
        @include font-bold;
        width: min-content;

        color: cor-mix(30%);

    }

}

@media (width <= 900px) {

    .logo {

        display: none;
        // top: 5rem;
        top: 0;
        left: 0;
        right: -2rem;
        
        gap: 0.5rem;

        svg {

            width: 25px;

            path, circle {
                stroke: cor-mix(10%);
            }

        }

        h2 {

            font-size: 1rem;
            color: cor-mix(10%);

        }

    }

}