
.table {

    display: flex;
    flex-direction: column;

    flex: 1;

    border-radius: 2rem;

    border: 2px solid #591c4a;

    width: 450px;
    // max-width: 350px;
    
    div {

        color: #591c4a;

    }
}