@use '../../app/globalStyle.module.scss' as *;

.table {

    display: flex;
    flex-direction: column;

    flex: 1;

    border-radius: 2rem;

    border: 2px solid $cor-primaria;

    width: 450px;
    // max-width: 350px;
    
    animation: appear 600ms ease-out;
    // animation: grow 300ms;

    div {

        color: $cor-primaria;

    }
}