@use '../../app/globalStyle.module.scss' as *;

.table {

    display: flex;
    flex-direction: column;
    flex: 1;

    border: 2px solid $cor-primaria;
    border-radius: 2rem;

    width: 450px;
    min-width: 350px;
    // max-width: 350px;

    box-sizing: border-box;
    overflow: hidden;

    animation: appear 600ms ease-out;

    div {

        color: $cor-primaria;

    }
}