@use '../../globalStyle.module.scss' as *;

.notifications {

    display: flex;
    flex-direction: column;
    gap: 1rem;

    flex: 1;
    width: 200px;

    position: fixed;
    bottom: 2rem;
    left: 5rem;

    z-index: 10;

    // overflow: hidden;

    transition: height 400ms ease;

    .notification {

        display: flex;

        background-color: $cor-secundaria;
        width: fit-content;
        padding: 1rem;
        border-radius: 1rem;
        // height: 200px;
        box-shadow: 2px 2px 12px 2px transparentize($cor-primaria, 0.5);

        p {

            color: $cor-primaria;
            font-size: 1rem;

        }

        button {

            background: none;
            outline: none;
            border: none;

        }

    }

}