@use '../../globalStyle.module.scss' as *;
@use 'sass:color';


.form {

    // flex-shrink: 0;
    // transform: translateX(25%);

    position: relative;

    display: flex;
    flex-direction: column;
    border: 2px solid;
    border-radius: 1rem;
    // padding: 2rem 4rem;
    padding: 2rem;

    // flex: 5;

    overflow: hidden;

    background-color: $cor-secundaria;

    transition: flex 500ms ease-out;

    z-index: 2;

    h3 {

        width: 100%;

        margin: 1.5rem 0 1rem 0;
        padding-bottom: 0.5rem;
        border-bottom: 2px solid $cor-mix;
        border-image: linear-gradient(to right , cor-mix(50%) 50%, $cor-secundaria) 27;


        // border-image: linear-gradient(to right , cor-mix(50%) , transparent) 27;


        color: $cor-primaria;

    }

    .logo {

        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 70px;
        padding: 0.5rem 2rem;

        // padding-left: 0;
        // padding-bottom: 1rem;
        box-sizing: border-box;
        // background: linear-gradient(to right , $cor-secundaria, cor-mix(50%) 50%, $cor-secundaria);
        // background-color: saturate(cor-mix(50%), 15%);

        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        align-items: center;

        // background-color: cor-mix(80%);
        // background-color: $cor-primaria;
        border-bottom: 2px solid;
        border-image: linear-gradient(to right , $cor-secundaria, cor-mix(50%) 50%, $cor-secundaria) 27;

        svg {

            width: 35px;
            min-width: 35px;

            border-right: 2px solid cor-mix(20%);
            padding-right: 0.5rem;
            border-image: linear-gradient(0deg , $cor-secundaria, cor-mix(40%) 50%, $cor-secundaria) 5;


            path, circle {
                stroke: $cor-primaria;
                // stroke: cor-mix(50%);
                // stroke: $cor-secundaria;
            }
        }

        h1 {

            display: flex;
            align-items: center;
            height: 50px;

            font-size: 1.2rem;

            border-right: 2px solid cor-mix(20%);
            padding-right: 0.5rem;
            border-image: linear-gradient(0deg , $cor-secundaria, cor-mix(40%) 50%, $cor-secundaria) 5;

            margin: 0;
            color: cor-mix(50%);
            // color: $cor-secundaria;
            color: $cor-primaria;
            
        }

        span {

            display: flex;
            align-items: center;
            overflow-y: hidden;
            height: 50px;

            p {
    
                margin: 0;
                overflow: hidden;
                color: cor-mix(70%);
    
            }
        }


    }

    .inputs {

        display: flex;
        gap: 1.5rem;

        margin-top: 2.5rem;

        // h3 {

        //     width: 100%;

        //     margin-bottom: 0.5rem;
        //     padding-bottom: 0.5rem;
        //     border-bottom: 2px solid $cor-mix;

        // }

        .fornecedor {

            // display: flex;
            // gap: 2rem;

            // min-width: 320px;
            width: clamp(320px, 320px, 320px);

            .input {
                
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                
                margin-bottom: 1rem;
                // padding-left: 2rem;

                p {

                    font-size: 1rem;
                    color: cor-mix(60%);

                    // margin: 1rem 0 0.25rem 0;
                    margin: 0;
                    margin-bottom: 0.25rem;

                }

                input {

                    border: 2px solid cor-mix(30%);
                    // border: none;
                    // border-bottom: 2px solid cor-mix(30%);
                    border-radius: 0.5rem;
                    padding: 0.5rem 1rem;
                    background-color: $cor-secundaria;

                    min-width: 0;
                    // width: fit-content;
                    width: 100%;
                    height: 35px;

                    box-sizing: border-box;

                    font-size: 1.2rem;
                    color: $cor-primaria;

                    outline: none;
                    // outline: 2px solid transparent;
                    background: none ;
                    transition: border-color 400ms ease,
                                background 400ms ease,
                                color 400ms ease
                    ;

                    &::selection {

                        // background-color: $cor-primaria;
                        background-color: cor-mix(90%);
                        color: $cor-secundaria;

                    }

                    &::placeholder {

                        color: cor-mix(20%);

                    }

                    &:valid {

                        // border-color: cor-mix(60%);
                        border-color: color.adjust(cor-mix(70%), $lightness: -5%, $saturation: 40%);
                        // border-color: #559e3c;
                        // border-width: 4px;

                    }

                    &:focus-within {

                        // outline-color: $cor-primaria-transparent;
                        background-color: cor-mix(3%);
                        // background: linear-gradient(0deg, cor-mix(5%), transparent 50%);
                        border-color: $cor-primaria;

                    }

                    &[data-valid="false"] {

                        // border-style: dashed;

                        // border-color: $cor-mix;
                        // border-color: invert(cor-mix(50%));
                        // border-color: #a34338;
                        border-color: color.adjust(cor-mix(20%), $lightness: -20%, $saturation: 40%);
                        // border-style: dashed;
                        color: color.adjust(cor-mix(20%), $lightness: -50%, $saturation: 30%);


                    }

                }

            }
       
            .nomeInput {
                margin-bottom: 0.5rem;
            }

            .warning {

                height: 17.6px;
        
                span {
        
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;
        
                    svg {
        
                        path {
        
                            // stroke: $cor-primaria;
                            stroke: color.adjust(cor-mix(20%), $lightness: -20%, $saturation: 40%);
                            
                        }
        
                    }
        
                    p {
        
                        display: inline-block;
                        align-content: center;
                        justify-content: center;
        
                        gap: 0.3rem;
                        margin: 0;
        
                        color: color.adjust(cor-mix(20%), $lightness: -20%, $saturation: 40%);
        
                    }
        
                }
        
            }

            .fatores {

                width: 100%;

                    div {

                        width: 100%;

                        input {

                            box-sizing: border-box;
                            width: 100%;

                            // padding-left: 2rem;


                        }

                        &:last-child {

                            margin: 0;

                        }

                    }


            }
        }


        .config {

            display: flex;
            flex-direction: column;

            transition: height 400ms ease;

            .configInputs {

                display: flex;
                flex-direction: column;

                height: 100%;

                border: 2px solid cor-mix(30%);
                border-radius: 0.5rem;

                span {

                    flex: 1;

                }

                // gap: 0.5rem;
                // display: grid;
                // grid-template-columns: 1fr 1fr;

            }

        }

    }

    .buttons {

        display: flex;
        flex-direction: row-reverse;
        gap: 1rem;

        margin-top: 1.5rem;

        button {

            display: flex;
            align-items: center;
            justify-content: center;

            font-family: $fonte-body;

            padding: 0.5rem 1rem;
            border-radius: 0.5rem;
            border: none;

            height: 2rem;

            cursor: pointer;

            transition: background-color 400ms ease;

            &:focus-within {

                outline: none;
                box-shadow: 2px 2px 15px color.adjust($cor-primaria, $alpha: -0.7);

            }

        }

        button:first-child {

            background-color: cor-mix(80%);
            color: $cor-secundaria;
            font-size: 1rem;
            // width: 200px;
            width: fit-content;
            font-weight: 500;

            &:hover {

                background-color: $cor-primaria;

            }

        }

        button:last-child {

            border: 2px solid cor-mix(50%);
            background-color: transparent;
            color: cor-mix(50%);
            font-size: 1rem;
            // flex: 1;

            &:hover {

                background-color: cor-mix(50%);
                color: $cor-secundaria;

            }

        }

    }

    // background-color: $cor-mix;
    // border: none;


}