@use '../../../globalStyle.module.scss' as *;

$cor-destaque: darken(saturate(cor-mix(70%), 50%), 10%);

.noMatch {

    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;

    margin-top: 1rem;

    // border-bottom: 2px solid cor-mix(10%);
    // background-color: cor-mix(3%);

    svg {

        width: 35px;
        min-width: 35px;
        // max-width: 35px;
        height: 35px;

        path, circle, line, ellipse {
            stroke: cor-mix(60%);
        }

    }

    p {

        text-wrap: pretty;
        // max-width: 250px;
        color: cor-mix(80%);
        margin: 0;

    }

}