@use '../../app/globalStyle.module.scss' as *;

.circle {

    animation: oscillate 400ms ease;
    animation-delay: 1550ms;

}

@keyframes oscillate {

    0% {
        r: 75;
    }
    50% {
        r: 90;
    }
    100% {
        r: 75;
    }

}

.svg {

    path {

        stroke: $cor-primaria;

    }

    linearGradient {

        stop {

            &:first-of-type {

                stop-color: $cor-secundaria;
                
            }
            
            &:last-of-type {
                
                stop-color: $cor-primaria;

            }

        }

    }

    radialGradient {


        stop {

            stop-color: $cor-secundaria;

        }

    }

}