@use '../../app/globalStyle.module.scss' as *;

:root {

    --cor-primaria: #{$cor-primaria};
    --cor-primaria-transparente: #{$cor-primaria-transparent};
    --cor-secundaria: #{$cor-secundaria};

}