@use '../../app/globalStyle.module.scss' as *;

.section {

    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    /* width: minmax(400px, 800px); */
    /* height: minmax(100vh, auto); */
    box-sizing: border-box;
    width: calc(100vw - 5rem);
    max-width: calc(100vw - 5rem);
    // max-width: 100% ;
    // max-width: 100%;
    // height: max-content;
    height: calc(100dvh - 2rem);
    /* min-height: 100vh; */
    // overflow-x: hidden;

    overflow: hidden;

    // overflow-y: scroll;
    // overflow-x: hidden;

    gap: 4rem;
    
    margin: 1rem;
    margin-left: 4rem;
    // padding: 2rem;
    padding: 1rem;
    border-radius: 0.25rem;

    // background-color: transparentize($cor-secundaria, 0.1);
    background-color: $cor-secundaria;
    // backdrop-filter: blur(3px);

    // transition: width 600ms;

    .container {
    
        // position: absolute;
        height: 100%;
        // display: flex;
        // flex-wrap: wrap;
        width: 100%;
        // overscroll-behavior: contain;
        /* min-width: 80%; */
        /* flex-direction: column; */
        /* align-items: center; */
        
        overflow: hidden;

        gap: 3rem;
    
        border: 1px solid cor-mix(20%);

        // transition: all 500ms;
    }

    /* width */
    &::-webkit-scrollbar {
        width: 4px;
        padding-left: 4px;
    }
    
    /* Track */
    &::-webkit-scrollbar-track {
    // background: #141414;
    // background: linear-gradient(180deg, $cor-primaria, $cor-secundaria);
    background: $cor-secundaria;
    }
    
    /* Handle */
    &::-webkit-scrollbar-thumb {
    background: $cor-primaria;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
    background: lighten($cor-primaria, 5%);
    // background: linear-gradient(90deg, #521843, #421236);
    }

}


@media (width <= 900px) {

    .section {
        
        padding: 1rem;

        margin-left: 1rem;
        margin-top: 4rem;

        width: calc(100vw - 2rem);
        max-width: calc(100vw - 2rem);

        height: calc(100dvh - 5rem);

    }

}

// @media (width <= 440px) {

//     .section {

//         padding: 1rem 0.5rem;

//     }

// }

// @media (max-width: 850px) {

//     .container {

//         flex-direction: column;
//         width: 100%;
        
//     }

//     .container {

//         width: 100%;

//     }

// }