@use '../../../../globalStyle.module.scss' as *;

.wrap {

    display: flex;
    flex-direction: column;

    // gap: 0.5rem;
    
    border: 2px solid cor-mix(20%);
    background-color: cor-mix(5%);
    // background-color: cor-mix(5%);
    border-radius: 0.5rem;

    // padding: 0.5rem;

    .list {

        box-sizing: border-box;
        margin: 0;

        width: 100%;

        list-style: none;
        background-color: $cor-secundaria;
        // border: 2px solid cor-mix(20%);
        
        border-top: 2px solid cor-mix(20%);
        // border-image: linear-gradient(to left , $cor-secundaria, cor-mix(40%) 50%, $cor-secundaria) 27;
        // border: 2px solid cor-mix(10%);
        border-bottom-right-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
        
        overflow: hidden;
        
        ul {
            
            padding: 0.5rem;
            // padding: 0;
            margin: 0;


        }

    }

}

.fornecedorTab {

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;

    // border: 2px solid cor-mix(20%);
    // background-color: cor-mix(10%);
    // // background-color: cor-mix(5%);
    // border-radius: 0.5rem;

    padding: 0.5rem;

    .title {

        display: flex;
        align-items: center;
        gap: 0.5rem;

        svg {
    
            width: 30px;
            height: 30px;
    
            path, circle {
                stroke: cor-mix(80%);
            }
    
        }
    
        h3 {
    
            color: cor-mix(80%);
            font-size: 1rem;
            margin: 0;
    
        }
    }


    .button {

        display: flex;
        padding: 0;

        justify-content: center;
        align-items: center;

        // width: 30px;
        height: 30px;

        outline: none;
        border: none;
        // border: 2px solid;
        // background-color: $cor-secundaria;
        // background-color: cor-mix(50%);
        background: none;
        // border: 2px solid cor-mix(50%);
        padding: 0.2rem;
        border-radius: 0.5rem;

        svg {

            path {

                // stroke: $cor-primaria;
                // stroke: cor-mix(50%);
                fill: cor-mix(100%);

            }

        }
        
        cursor: pointer;

    }

}