@use '../../../../globalStyle.module.scss' as *;

.wrap {

    display: flex;
    flex-direction: column;

    // gap: 0.5rem;
    
    // border: 2px solid cor-mix(20%);
    border: 2px solid cor-mix(20%);
    background-color: cor-mix(5%);
    // background-color: cor-mix(5%);
    border-radius: 0.5rem;

    // box-shadow: 2px 2px 12px 2px transparentize($cor-primaria, 0.8);

    // padding: 0.5rem;

    .list {

        box-sizing: border-box;
        margin: 0;

        width: 100%;

        list-style: none;
        background-color: $cor-secundaria;
        // border: 2px solid cor-mix(20%);
        
        // border-top: 2px solid cor-mix(20%);
        // border-image: linear-gradient(to left , $cor-secundaria, cor-mix(40%) 50%, $cor-secundaria) 27;
        // border: 2px solid cor-mix(10%);
        border-bottom-right-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
        
        overflow: hidden;

        .fornecedorConfigs:first-child {
            border-top: 2px solid cor-mix(20%);
        }

        .fornecedorConfigs {

            form span .codigo:not(:placeholder-shown) {

                width: 100px;
                text-overflow: ellipsis;
                transition: width 400ms ease;

                // &:focus-within {
                //     width: 100px;
                // }

            }

            .configWrapper {

                display: flex;
                flex-direction: column;
                gap: 1.5rem;

                &:not(:last-child) {
                    border-bottom: 2px solid cor-mix(20%);
                }

                & > :first-child {
                    // border-bottom: none;
                    border-image: linear-gradient(to right , transparent, $cor-secundaria 8%, cor-mix(20%) 50%, $cor-secundaria 92%, transparent) 27;

                }

                .extra {

                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    gap: 0.5rem;

                    // margin: 0.5rem;
                    padding: 0.5rem;
                    color: cor-mix(50%);

                    // background-color: cor-mix(5%);

                    // border: 2px solid cor-mix(20%);
                    border-radius: 0.5rem;

                    span {
                        
                        position: relative;

                        flex: 1;

                        display: flex;
                        justify-content: space-evenly;
                        align-items: center;
                        
                        background-color: cor-mix(5%);
                        border: 2px solid cor-mix(15%);
                        border-radius: 0.25rem;

                        div {

                            position: relative;
                            // overflow: hidden;
                            text-overflow: ellipsis;

                            input {
                                box-sizing: border-box;
                            }

                            &:nth-child(1) {

                                flex: 5;

                                input {

                                    width: 100%;
                                    box-sizing: border-box;

                                }

                                label {

                                    left: 0;

                                }

                            }

                            &:nth-child(3) {

                                flex: 1;

                                input {

                                    box-sizing: border-box;
                                    max-width: 50px;

                                }

                                label {

                                    right: 0;

                                }

                            }

                            label {

                                position: absolute;
                                top: -1rem;
                                font-size: 0.8rem;
                                color: cor-mix(40%);
                                width: max-content;

                                top: -1.2rem;
    
                                // &:nth-child(1) {
                                //     // left: 0.1rem;
                                //     left: 0;
                                //     // left: 10%;
                                // }
                                // &:nth-child(2) {
                                //     right: 0;
                                //     // right: 0.1rem;
                                //     right: 10%;
                                // }
    
                            }

                        }

                        // label {

                        //     position: absolute;
                        //     top: -1rem;
                        //     font-size: 0.8rem;
                        //     color: cor-mix(40%);

                        //     &:first-of-type {
                        //         left: 0.1rem;
                        //         // left: 10%;
                        //     }
                        //     &:last-of-type {
                        //         right: 0.1rem;
                        //         // right: 10%;
                        //     }

                        // }

                        p {
                            margin: 0;
                            padding: 0;
                        }

                        input {

                            // flex: 1;
                            padding: 0.4rem;

                            border: none;
                            border-radius: 0.25rem;
    
                            color: cor-mix(80%);
                            text-align: center;
    
                            transition: background-color 500ms ease;
    
                            &:hover {
    
                                background-color: cor-mix(10%);
    
                            }
    
                            &::placeholder {
                                font-size: 0.75rem;
                                color: cor-mix(30%);
                            }

                        }

                    }

                    // input {

                    //     border: none;
                    //     background-color: cor-mix(5%);
                    //     border-radius: 0.25rem;

                    //     text-align: center;

                    //     transition: background-color 500ms ease;

                    //     &:hover {

                    //         background-color: cor-mix(10%);

                    //     }

                    // }

                }

            }

            input[type="text"] {

                background: none;
                outline: none;
                border: 2px solid cor-mix(80%);
                border-radius: 0.5rem;
                
                color: cor-mix(100%);
                font-size: 1.1rem;
                text-align: end;
                width: 50px;
                padding: 0.25rem;
                padding-right: 0.5rem;

                &::placeholder {

                    color: cor-mix(30%);

                }

            }

        }

        .configInputs {

            display: flex;
            flex-direction: column;

            height: 100%;

            border: 2px solid cor-mix(30%);
            border-radius: 0.5rem;

            span {

                flex: 1;

            }

            // gap: 0.5rem;
            // display: grid;
            // grid-template-columns: 1fr 1fr;

        }

        ul {
            
            padding: 0.5rem;
            // padding: 0;
            margin: 0;


        }

    }

}

.tab {

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;

    // border: 2px solid cor-mix(20%);
    // background-color: cor-mix(10%);
    // // background-color: cor-mix(5%);
    // border-radius: 0.5rem;

    padding: 0.5rem;

    .title {

        display: flex;
        align-items: center;
        gap: 0.5rem;

        svg {
    
            width: 30px;
            height: 30px;
    
            path, circle, line, ellipse {
                stroke: cor-mix(80%);
            }
    
        }
    
        h3 {
    
            color: cor-mix(80%);
            font-size: 1rem;
            margin: 0;
    
        }
    }

    .selectWrap {

        display: flex;
        gap: 0.5rem;

        .button {
    
            display: flex;
            padding: 0;
    
            justify-content: center;
            align-items: center;
    
            width: 34px;
            height: 34px;
            padding: 0.2rem;
    
            background: none;
            outline: none;
            border: none;

            // background-color: cor-mix(60%);
            border: 2px solid cor-mix(30%);
            border-radius: 0.5rem;
            
            overflow: hidden;
            
            transition: border-color 500ms ease, background-color 300ms ease;
            
            &:disabled {
                
                background-color: cor-mix(5%);
                border-color: cor-mix(10%);
                cursor: default;

                svg path, svg ellipse, svg line {

                    // fill: cor-mix(20%);
                    stroke: cor-mix(10%);
                    // fill: cor-mix(20%);

                }

            }

            &:not(:disabled):hover {

                background-color: cor-mix(10%);

            }

            svg {
    
                min-width: 25px; 

                transition: d 400ms ease;

                path, line, ellipse {
    
                    // stroke: $cor-primaria;
                    // stroke: cor-mix(50%);
                    // fill: cor-mix(100%);
                    stroke: cor-mix(40%);
                    // stroke: cor-mix(0%);
                    // fill: cor-mix(60%);
    
                    transition: fill 500ms ease, stroke 500ms ease, d 500ms ease;

                }
    
            }
            
            cursor: pointer;
    
        }

        .expand {

            border: none;

            &:hover {

                background-color: cor-mix(10%);
                box-shadow: inset 2px 2px 12px 2px transparentize(saturate(cor-mix(60%), 15%), 0.9);

            }

            svg path, line, ellipse {
                stroke: cor-mix(50%);
            }

        }

    }

}