@use '../../../../../../globalStyle.module.scss' as *;
@use 'sass:color';

.importCard {

    position: relative;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    padding: 0.5rem;

    min-height: 200px;

    background-color: cor-mix(3%);
    border: 2px solid cor-mix(10%);
    border-radius: 0.5rem;

    overflow: hidden;

    position: relative;

    transition: background-color 400ms ease,
                border 400ms ease;

    &[data-hover="true"]{
        background-color: color.mix($cor-destaque, $cor-secundaria, 5%);
        border-color: color.mix($cor-destaque, $cor-secundaria, 30%);
        border-style: dashed;
    }

    .overlay {

        position: absolute;
        top: 0;
        left: 0;

        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 100%;

        background: radial-gradient(
            color.adjust(color.mix($cor-destaque, $cor-secundaria, 0%), $alpha: -0.2),
            transparent);

        backdrop-filter: blur(2px);

        pointer-events: none;

        .icon {

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            max-width: 65px;
            min-width: 65px;
            max-height: 80px;
            min-height: 80px;

            padding: 0.5rem;
            border: 2px solid color.mix($cor-destaque, $cor-secundaria, 80%);
            border-radius: 0.5rem;

            svg {

                width: 35px;
                height: 35px;

                path, line, circle {
                    stroke: color.mix($cor-destaque, $cor-secundaria, 80%);
                }

            }

        }

    }

    .title {

        display: flex;
        gap: 0.5rem;

        svg {
            max-width: 50px;
            min-width: 50px;
            max-height: 50px;
            min-height: 50px;
        }
    }

    .file {

        display: none;

    }

    .hover {

        position: absolute;
        top: 0;

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;

        width: 100%;
        height: 100%;

        overflow: hidden;

        pointer-events: none;
        
        svg {

            width: 40px;
            height: 40px;

            path {

                stroke: none;
                
                &:nth-child(1) {
                    z-index: -1;
                }
                &:nth-child(2) {
                    fill: color.adjust(cor-mix(60%), $lightness: -3%, $saturation: 1%);
                }
                &:nth-child(3) {
                    fill: color.adjust(cor-mix(40%), $lightness: -3%, $saturation: 1%);
                }
                &:nth-child(4) {
                    fill: color.adjust(cor-mix(20%), $lightness: -3%, $saturation: 1%);
                }
                
            }
        }

        p {

            margin: 0;
            color: cor-mix(80%);

        }

    }

    .import {

        display: flex; 
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;

        height: 100%;

        padding: 1rem 0;
        // padding-bottom: 0.5rem;

        border-bottom: 2px solid cor-mix(10%);

        &[data-hover="true"]{
            pointer-events: none;
        }

        cursor: pointer;

        p {
            margin: 0;
        }

        h5 {
            margin: 0;
            text-align: center;
            color: cor-mix(30%);
        }

    }

    .chave {

        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem 0.5rem;

        border-bottom: 2px solid cor-mix(10%);

        &[data-hover="true"]{
            pointer-events: none;
        }

        .title {

            display: flex;
            justify-content: center;
            align-items: center;
    
            &[data-hover="true"]{
                pointer-events: none;
            }

            svg {
                min-width: 30px;
                max-width: 30px;
                min-height: 30px;
                max-height: 30px;
    
                path, circle, line {
                    stroke: cor-mix(30%);
                }
            }
    
            p {
                margin: 0;
                color: cor-mix(70%);
                text-align: center;
            }
    
        }
    
        .format {

            // padding: 0.5rem 0.5rem 1rem 0.5rem;
            // padding: 0.5rem 1.5rem;
            // border-bottom: 2px solid cor-mix(10%);
            // border-image: linear-gradient(to right , transparent, cor-mix(10%) 8%, cor-mix(20%) 50%, cor-mix(10%) 92%, transparent) 27;
        
            // padding: 0.5rem;
            // background-color: cor-mix(0%);
            // border-radius: 0.5rem;
            &[data-hover="true"]{
                pointer-events: none;
            }

            .input {
        
                opacity: 0;
                max-width: 0;
                max-height: 0;
                padding: 0;
                border: none;
                position: absolute;
        
            }
        
            .segments {
        
                
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                gap: 0.25rem;
                // column-gap: 0.1rem;
                // row-gap: 0.25rem;
    
        
                .segment {
        
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
        
                    background-color: cor-mix(0%);
                    border: 2px solid color.mix($cor-destaque, $cor-secundaria, 20%);
                    // color: $cor-secundaria;
                    padding: 0.15rem 0.3rem;
                    border-radius: 0.2rem;
                    min-height: 20px;
                    
                    .digit {
                        
               
                        user-select: none;
                        cursor: text;
                        font-family: $fonte-mono;
                        color: color.mix($cor-destaque, $cor-secundaria, 90%);
          
                        display: flex;
                        justify-content: center;
                        line-height: inherit;
                        line-height: 1.3;
        
                        border-right: 2px solid transparent;
        
                        transition: border 100ms ease;
        
                        &[data-active="true"]{
        
                            background-color: cor-mix(10%);
                            // color: cor-mix(0%);
        
                        }
        
                        &[data-caret="true"] {
        
                            border-right: 2px solid cor-mix(50%);
                            
                        }
        
                    }
        
                }
        
            }
        
        }

        .importButton {
    
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;

            font-family: $fonte-body;
            font-size: 1rem;
            // @include font-bold;
            @include font-bold;

            outline: none;
            border: 2px solid cor-mix(15%);
            border-radius: 0.5rem;

            min-height: 28.8px;
            
            background-color: cor-mix(10%);
            color: cor-mix(55%);
    
            cursor: pointer;

            transition: background-color 400ms ease,
                        color 400ms ease,
                        border-color 400ms ease;

            &[data-hover="true"]{
                pointer-events: none;
            }

            &:not(:disabled):hover {
                border-color: cor-mix(25%);
                background-color: cor-mix(15%);
                color: cor-mix(65%);
            }

            &:disabled {
                border-color: cor-mix(10%);
                background-color: cor-mix(5%);
                color: cor-mix(30%);
                cursor: default;
            }

            svg {

                width: 20px;
                height: 20px;

            }

        }

    }

    .documentos {

        margin: 0;
        padding: 0;
        display: flex;
        gap: 1rem;
        padding: 0.5rem;
        justify-content: center;

        height: calc(80px + 1rem + 4px);
        min-height: calc(80px + 1rem + 4px);

        // pointer-events: none;
        // &[data-hover="true"]{
        //     pointer-events: none;
        // }

        .documento {

            display: flex;
            align-items: center;
            flex-direction: column;
            flex-grow: 0;
            min-width: 65px;
            max-width: 65px;
            height: 80px;

            // background-color: cor-mix(0%);
            // background: linear-gradient(135deg, cor-mix(0%), cor-mix(3%));
            background-color: color.mix($cor-destaque, $cor-secundaria, 5%);
            border: 2px solid color.mix($cor-destaque, $cor-secundaria, 60%);
            box-shadow: 2px 2px 8px 2px transparent;
            border-radius: 0.5rem;
            padding: 0.5rem;

            cursor: pointer;
            transition: box-shadow 400ms ease,
                        border 400ms ease,
                        color 400ms ease,
                        outline 400ms ease;

            &:not(.empty):hover {
                box-shadow: 2px 2px 8px 2px color.adjust($cor-primaria, $alpha: -0.75);
            }

            svg {

                width: 35px;
                height: 35px;
                margin-bottom: auto;

                path, line {
                    stroke: color.mix($cor-destaque, $cor-secundaria, 80%);
                }

            }

            p {
                margin: 0;
                color: cor-mix(80%);
            }

            .tipo {

                display: flex;
                align-items: center;
                
                p {
                    color: color.mix($cor-destaque, $cor-secundaria, 80%);
                }

                svg {

                    width: 17.5px;
                    height: 17.5px;

                    path {
                        
                        stroke: color.mix($cor-destaque, $cor-secundaria, 80%);
                        stroke-width: 50;
                    }
                }

            }

        }

        .extra, .empty {

            // border-style: dashed;
            outline: 2px solid transparent;
            border-color: cor-mix(10%);
            background: none;
            background-color: color.mix($cor-destaque, $cor-secundaria, 5%);
            box-shadow: none;

            max-height: 80px;

            cursor: default;
            // pointer-events: none;

            svg {
                path, line {
                    stroke: cor-mix(30%);
                }
            }

            p {
                color: cor-mix(30%);
            }

            .tipo {
                
                p {
                    color: cor-mix(30%);
                }

                svg {

                    path {
                        
                        stroke: cor-mix(30%);

                    }
                }

            }

        }

    }

}