@use '../../../../globalStyle.module.scss' as *;

.select {

    display: flex;

    width: calc(100% - 1rem);
    box-sizing: border-box;
    margin: 0 0.5rem;
    // margin-bottom: 1rem;
    padding: 0.25rem;
    gap: 0.25rem;

    border: 2px solid cor-mix(10%);
    // border: 0.15rem solid cor-mix(10%);
    background-color: cor-mix(0%);
    border-radius: 0.25rem;

    overflow: hidden;

    min-height: 40px;
    max-height: 40px;

    .option {

        position: relative;

        display: flex;
        justify-content: center;
        gap: 1rem;

        padding: 0.25rem 0;

        width: 100%;

        transition: background-color 400ms ease;

        &:hover {
            background-color: cor-mix(2%);
        }

        a {

            width: 100%;
            
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.25rem;

            text-decoration: none;

            z-index: 1;

            &[data-selected='true'] {

                svg path,line {
                    stroke: mix($cor-destaque, $cor-secundaria, 60%);
                }

                p {
    
                    color: mix($cor-destaque, $cor-secundaria, 60%);
                    font-weight: 600;
    
                }
                
            }

            svg {

                width: 20px;
                height: 20px;

                path, line {
                    stroke: cor-mix(20%);

                    transition: stroke 400ms ease;
                }

                rect {
                    fill: transparent;
                }

            }

            p {

                margin: 0;
                color: cor-mix(20%);

                transition: color 400ms ease,
                            font-weight 400ms ease;

            }

        }

        .background  {

            position: absolute;
            right: 0;
            top: 0;
            z-index: 0;
            
            box-sizing: border-box;
            // width: calc(100% - 2px);
            // height: calc(100% - 2px);
            width: 100%;
            height: 100%;

            border-radius: 0.25rem;
            // border: 2px solid cor-mix(10%);
            border: 2px solid mix($cor-destaque, $cor-secundaria, 20%);
            // background-color: cor-mix(5%);
            background-color: mix($cor-destaque, $cor-secundaria, 5%);

            // box-shadow: 2px 2px 12px 1px transparentize(cor-mix(80%), 0.9);

        }

    }

}

.container {

    // position: relative;
    display: flex;
    gap: 0.5rem;
    // width: min-content;
    width: calc(100% - 1rem);
    // width: 100%;

    margin: 0.5rem;
    margin-bottom: 0;

    .metodo {

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        outline: none;
        border: none;

        padding-left: 0.5rem;

        border: 2px solid cor-mix(2%);
        border-radius: 0.25rem;
        background: none;
        
        height: clamp(40px, 40px, 40px);

        cursor: pointer;

        transition: background-color 600ms ease,
                    border 400ms ease;

        &[data-open="true"] {

            border-color: cor-mix(20%);
            background-color: cor-mix(5%);

        }

        &[data-open="false"]:hover {

            border-color: cor-mix(7%);
            background-color: cor-mix(3%);

        }

        &:focus-visible {
            outline: 2px solid cor-mix(10%);
        }

        h2 {

            font-family: $fonte-body;
            margin: 0;
            color: cor-mix(90%);
            font-size: 1.2rem;

        }

        svg {

            path {
                stroke: cor-mix(30%);
                transition: d 400ms ease;
            }

        }

    }

    .listContainer {

        width: calc(100% - 0.5rem);
        position: relative;
        box-sizing: border-box;

        .list {
            
            position: absolute;
            top: 0;
            // top: calc(40px + 0.5rem);
            // left: calc(100% + 0.5rem);
            // left: 4rem;
            left: 0;
            // right: 0;
            z-index: 5;
    
            margin: 0;
            padding: 0;
    
            box-sizing: border-box;
            width: 100%;
            width: clamp( 260px, 100%, 400px);
    
            display: flex;
            flex-direction: column;
            background-color: $cor-secundaria;
            border: 2px solid cor-mix(20%);
            border-radius: 0.25rem;
    
            overflow: hidden;
            // outline: 0.5rem solid cor-mix(0%);
    
            box-shadow: 2px 2px 12px 2px $cor-primaria-transparent;
    
            a {
    
                display: flex;
                gap: 0.5rem;
                // justify-content: space-between;
                justify-content: flex-start;
                align-items: center;
                text-decoration: none;
                cursor: pointer;
    
                outline: none;
                border-left: 4px solid transparent;

                padding: 0.5rem;
                
                &:not(:last-of-type) {
                    border-bottom: 2px solid cor-mix(20%);
                }

                &[data-selected="true"] {
    
                    // background-color: mix($cor-destaque, $cor-secundaria, 5%);
                    border-left: 4px solid mix($cor-destaque, $cor-secundaria, 70%);
                    pointer-events: none;
    
                }
    
                &:hover {
    
                    background-color: cor-mix(3%);
    
                }
    
                &:focus-visible {
                    background-color: cor-mix(3%);
                }

                // &[data-id="true"] {
                //     background-color: red;
                // }

                div {
    
                    display: flex;
                    flex-direction: column;
                    gap: 0.25rem;
    
                    h3 {
    
                        color: cor-mix(80%);
                        margin: 0;
                        font-size: 1rem;
    
                    }
    
                    p {
        
                        color: cor-mix(60%);
                        margin: 0;
                        // padding: 0.5rem 1rem;
                        font-size: 0.9rem;

                        text-wrap: pretty;
                    }
                }
    
    
                svg {
    
                    width: 30px;
                    min-width: 30px;
                    height: 30px;
    
                    margin-right: 0.25rem;
    
                    circle {
                        display: none;
                    }
    
                    path, line {
                        stroke: cor-mix(60%);
                    }

                    rect {
                        fill: cor-mix(0%);
                    }

                    & > .fill {
                        fill: cor-mix(0%);
                    }
    
                }
    
                // .dot {
    
                //     width: clamp(10px, 10px, 10px);
                //     height: clamp(10px, 10px, 10px);
                //     border-radius: 5rem;
                //     background-color: cor-mix(50%);
    
                // }
            }
        }

    }


}