@use '../../../../globalStyle.module.scss' as *;

.select {

    display: flex;

    width: calc(100% - 1rem);
    box-sizing: border-box;
    margin: 0 0.5rem;
    // margin-bottom: 1rem;
    padding: 0.25rem;
    gap: 0.25rem;

    border: 2px solid cor-mix(10%);
    // border: 0.15rem solid cor-mix(10%);
    background-color: cor-mix(0%);
    border-radius: 0.25rem;

    overflow: hidden;

    min-height: 40px;
    max-height: 40px;

    .option {

        position: relative;

        display: flex;
        justify-content: center;
        gap: 1rem;

        padding: 0.25rem 0;

        width: 100%;

        transition: background-color 400ms ease;

        &:hover {
            background-color: cor-mix(2%);
        }

        a {

            width: 100%;
            
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.25rem;

            text-decoration: none;

            z-index: 1;

            &[data-selected='true'] {

                svg path,line {
                    stroke: mix($cor-destaque, $cor-secundaria, 60%);
                }

                p {
    
                    color: mix($cor-destaque, $cor-secundaria, 60%);
                    font-weight: 600;
    
                }
                
            }

            svg {

                width: 20px;
                height: 20px;

                path, line {
                    stroke: cor-mix(20%);

                    transition: stroke 400ms ease;
                }

                rect {
                    fill: transparent;
                }

            }

            p {

                margin: 0;
                color: cor-mix(20%);

                transition: color 400ms ease,
                            font-weight 400ms ease;

            }

        }

        .background  {

            position: absolute;
            right: 0;
            top: 0;
            z-index: 0;
            
            box-sizing: border-box;
            // width: calc(100% - 2px);
            // height: calc(100% - 2px);
            width: 100%;
            height: 100%;

            border-radius: 0.25rem;
            // border: 2px solid cor-mix(10%);
            border: 2px solid mix($cor-destaque, $cor-secundaria, 20%);
            // background-color: cor-mix(5%);
            background-color: mix($cor-destaque, $cor-secundaria, 5%);

            // box-shadow: 2px 2px 12px 1px transparentize(cor-mix(80%), 0.9);

        }

    }

}