@use '../../../app/globalStyle.module.scss' as *;
@use 'sass:color';

.thead {

    width: 100%;

    .tr  {

        width: 100%;
        display: flex;
        justify-content: center;     
        
        font-family: $fonte-header;
        background-color: $cor-secundaria;
        // font-kerning: none;

        // padding: 1rem;
        // box-sizing: border-box;

        &:first-child {

            border-top-left-radius: 2rem;

        }
        &:last-child {

            border-top-right-radius: 2rem;

        }

        .th {

            flex: 1;
            text-align: center;
            font-size: 1.2rem;
            padding: 1rem;
            border-bottom: 2px solid $cor-primaria;
            @include font-bold;

            // background-color: $cor-secundaria;
            color: $cor-primaria;

            z-index: 1;
            // box-sizing: border-box;
        
            &:not(:last-child) {
        
                border-right: 2px solid color.adjust($cor-primaria, $alpha: -0.8);
            
            }
            
        }
    }

}
