@use '../../../globalStyle.module.scss' as *;

.container {

    overflow-y: scroll;
    @include thin-scrollbar-global;

    .wrapper {

        display: flex;
        flex-direction: column;
        padding: 1rem;
    
        // display: grid;
        // grid-template-columns: repeat(auto-fill, 50%);
    
        .tag {

            display: flex;
            justify-content: space-between;

            width: 100%;
            box-sizing: border-box;
            font-family: $fonte-body;
    
            background-color: cor-mix(5%);
            border: 2px solid cor-mix(10%);
            border-radius: 0.25rem;
            padding: 0;

            &:not(:first-of-type) {
                margin-top: 0.5rem;
            }

            h5 {
                font-size: 0.9rem;
                margin: 0.25rem;
                padding-left: 0.5rem;
                color: cor-mix(60%);
            }
    
        }

        .dados {
            > span > p {
                margin: 0;
                text-align: end;
            }
        }

        .content {

            // padding: 0 1rem;
            // border: 2px solid cor-mix(20%);
            // background-color: cor-mix(3%);
            // border-radius: 0.5rem;

        }

    }

}