// $cor-primaria: #1c3259;
// $cor-primaria: #180467;
// $cor-primaria: #170e2f;

// Layout Original
// $cor-primaria: #591c4a;
// $cor-secundaria: #e8d4b0;
// $cor-secundaria: #fdf6e3;

//Opção layout
// $cor-primaria: #16045d;
// $cor-primaria: #191649;
// $cor-primaria: #210f30;
// $cor-primaria: #16491e;
// $cor-primaria: #212f23;
$cor-primaria: #062b37;

$cor-secundaria: #e8d4b0;
// $cor-secundaria: #ffddc1;

// $cor-primaria: #baaa8c;
// $cor-secundaria: #2e282c;
// $cor-secundaria: #222222;
// $cor-primaria: #b4a992;
// $cor-secundaria: #0e0e2b;

$cor-primaria-transparent: transparentize($cor-primaria, 0.8);
$cor-mix: mix($cor-primaria, $cor-secundaria, 10%);

//Animations
@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes disappear {
    0% {
        opacity: 1;
        height: 55.2px;
    }
    100% {
        opacity: 0;
        height: 0;
    }
}

@keyframes grow {
    0% {
        height: 0;
    }
    100% {
        height: 352px;
    }
}

@keyframes slideIn {
    0% {
        transform: translateY(-100%);
        // height: 0;
        // opacity: 0;
    }
    100% {
        transform: translateY(0);
        // height: 55.2px;
        // opacity: 1;
    }
}

$fonte-titulo: 'Glamuk';
$fonte-body: 'Archivo';
$fonte-header: 'Archivo SE';
$fonte-destaque: 'Playfair Display';

//Types
@font-face {
    font-family: 'Archivo';
    src: url('../fonts/Archivo-Regular.ttf');
    font-weight: normal;
    font-size: normal;
}
@font-face {
    font-family: 'Archivo SE';
    src: url('../fonts/Archivo_SemiExpanded-Light.ttf');
    font-weight: normal;
    font-size: normal;
}
@font-face {
    font-family: 'Glamuk';
    src: url('../fonts/glamukdisplaydemoversionregular-mavxr.otf');
    font-weight: normal;
    font-size: normal;
}
@font-face {
    font-family: 'Playfair Display';
    src: url('../fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf');
    font-weight: normal;
    font-size: normal;
}
// @font-face {
//     font-family: 'Garamond';
//     src: url('../fonts/EBGaramond-VariableFont_wght.ttf') format('ttf');
//     /* Add more src lines for different file formats if needed */
//     font-weight: normal; /* Adjust as per font file */
//     font-style: normal; /* Adjust as per font file */
// }
// @font-face {
//     font-family: 'Garamond';
//     src: url('../fonts/EBGaramond-Italic-VariableFont_wght.ttf') format('ttf');
//     /* Add more src lines for different file formats if needed */
//     font-weight: normal; /* Adjust as per font file */
//     font-style: italic; /* Adjust as per font file */
// }
