// $cor-primaria: #1c3259;
// $cor-primaria: #180467;
// $cor-primaria: #170e2f;

// Layout Original
// $cor-primaria: #591c4a;
// $cor-secundaria: #e8d4b0;
// $cor-secundaria: #fdf6e3;

//Opção layout
// $cor-primaria: #16045d;
// $cor-primaria: #191649;
$cor-primaria: #210f30;
// $cor-primaria: #0e0e2b;
// $cor-primaria: #16491e;
// $cor-primaria: #212f23;
// $cor-primaria: #062b37;

// $cor-primaria: #71110a;
// $cor-primaria: #5a0606;

// $cor-primaria: #5a4206;
// $cor-primaria: #000000;
// $cor-primaria: #010a3c;

// $cor-secundaria: #dbd5cb;

$cor-secundaria: #e8d4b0;
// $cor-secundaria: #c1cbd0;
// $cor-secundaria: #ffddc1;

// $cor-primaria: #baaa8c;
// $cor-secundaria: #2e282c;
// $cor-secundaria: #222222;
// $cor-primaria: #b4a992;
// $cor-secundaria: #0e0e2b;

$cor-primaria-transparent: transparentize($cor-primaria, 0.8);

@function cor-mix($percentage) {

    @return mix($cor-primaria, $cor-secundaria, $percentage);

}

$cor-mix: mix($cor-primaria, $cor-secundaria, 10%);

//Animations
@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes disappear {
    0% {
        opacity: 1;
        height: 55.2px;
    }
    100% {
        opacity: 0;
        height: 0;
    }
}

@keyframes grow {
    0% {
        height: 0;
    }
    100% {
        height: 352px;
    }
}

@keyframes slideIn {
    0% {
        transform: translateY(-100%);
        // height: 0;
        // opacity: 0;
    }
    100% {
        transform: translateY(0);
        // height: 55.2px;
        // opacity: 1;
    }
}

$fonte-titulo: 'Glamuk';
$fonte-body: 'Archivo';
// $fonte-body: '';
$fonte-header: 'Archivo SE';
$fonte-destaque: 'Playfair Display';

//Types
@font-face {
    font-family: 'Archivo';
    src: url('../fonts/Archivo-Regular.ttf');
    font-weight: normal;
    font-size: normal;
}
@font-face {
    font-family: 'Archivo SE';
    src: url('../fonts/Archivo_SemiExpanded-Light.ttf');
    font-weight: normal;
    font-size: normal;
}
@font-face {
    font-family: 'Glamuk';
    src: url('../fonts/glamukdisplaydemoversionregular-mavxr.otf');
    font-weight: normal;
    font-size: normal;
}
@font-face {
    font-family: 'Playfair Display';
    src: url('../fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf');
    font-weight: normal;
    font-size: normal;
}
// @font-face {
//     font-family: 'Garamond';
//     src: url('../fonts/EBGaramond-VariableFont_wght.ttf') format('ttf');
//     /* Add more src lines for different file formats if needed */
//     font-weight: normal; /* Adjust as per font file */
//     font-style: normal; /* Adjust as per font file */
// }
// @font-face {
//     font-family: 'Garamond';
//     src: url('../fonts/EBGaramond-Italic-VariableFont_wght.ttf') format('ttf');
//     /* Add more src lines for different file formats if needed */
//     font-weight: normal; /* Adjust as per font file */
//     font-style: italic; /* Adjust as per font file */
// }

@mixin thin-scrollbar {
    
    /* width */
    &::-webkit-scrollbar {
        width: 0.15rem;
    }
    
    /* Track */
    &::-webkit-scrollbar-track {
    background: $cor-secundaria;
    }
    
    /* Handle */
    &::-webkit-scrollbar-thumb {
    background: linear-gradient(0deg, $cor-secundaria, cor-mix(50%) 50%, $cor-secundaria);
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(0deg, $cor-secundaria, cor-mix(80%) 50%, $cor-secundaria);
    cursor: pointer;
    // background: linear-gradient(90deg, #521843, #421236);
    }
}

@mixin thin-scrollbar-global {
    
    /* width */
    ::-webkit-scrollbar {
        width: 0.15rem;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
    background: $cor-secundaria;
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
    background: linear-gradient(0deg, $cor-secundaria, cor-mix(50%) 50%, $cor-secundaria);
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(0deg, $cor-secundaria, cor-mix(80%) 50%, $cor-secundaria);
    cursor: pointer;
    // background: linear-gradient(90deg, #521843, #421236);
    }
}