body {
    /* background-color: #141414; */
    background: linear-gradient(45deg, #421236, #141414);
    caret-color: #591c4a;
}

::selection {

    background: #591c4a;
    color: #e8d4b0;

}

/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
background: #141414;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
background: #421236;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #521843;
background: linear-gradient(90deg, #521843, #421236);
}