
.section {


    display: flex;
    flex-direction: column;
    align-items: center;

    /* width: minmax(400px, 800px); */
    height: 100vh;
    
    margin: 4rem;
    padding: 2rem;
    border-radius: 2rem;

    background-color: #e8d4b0;


}

.input {

    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;

    width: 80%;
    height: 50px;
    background-color: #e8d4b0;
    font-size: 1.5rem;
    padding-left: 1rem;
    border-radius: 0.5rem;

    outline: none;
    border: 2px solid #3b0331;
}

.input::placeholder {

    color: #3b033153;

}

.input::-webkit-inner-spin-button,
.input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}