@use './globalStyle.module.scss' as *;

@keyframes wave {
    0% {
        filter: url('#wave0');
    }
    100% {
        filter: url('#wave1');
    }
}

$steps: 11;

$step-size: 100% /($steps + 1);

@for $i from 1 through $steps {

    $percentage: $step-size * $i;
  
    // Mix the two colors based on the percentage
    $mixed-color: mix($cor-secundaria, $cor-primaria, $percentage);
    // $mixed-color: mix($cor-primaria, $cor-secundaria, $percentage);
  
    // Assigning rules to specific elements
    .background svg path:nth-child(#{$i}),
    .logoHole svg path:nth-child(#{$i}) {
    fill: darken(saturate($mixed-color, 10%), 5%);
    // fill: $mixed-color;

  }

}

.bg {

    // background-image: url('../../public/assets/png.monster-688.png');
    // background-position: -10%;
    // filter: invert(1);
    // background:
    // repeating-linear-gradient(
    //   -45deg, 
    //   transparent 2px, 
    //   transparent 9px, 
    //   $cor-secundaria 2px, 
    //   $cor-secundaria 10px
    // );
    background:
    repeating-linear-gradient(
      -45deg, 
      transparent, 
      transparent .6%, 
      transparentize($cor-secundaria, 0.5) .2%, 
      transparentize($cor-secundaria, 0.5) .8%
    );
    background-size: 200%;   
    background-size: cover; 
    opacity: .4;
    // filter: url('#wave0');
    // filter: url('#waveFilter');
    filter: url('#wave');

    position: fixed;
    top: 0;
    left: 0;

    width: 100vmax;
    height: 100vh;

    z-index: -1;

    overflow: hidden;

    // animation: wave 1s linear infinite;
}

.background {

    position: fixed;
    top: 0;
    left: 0;
    background-size: contain;

    width: 100vmax;
    // width: 100vh;
    // height: 100vh;

    filter: url('#noise');

    z-index: -1;

    svg {

        path {

            transition: d 2s;

            // fill: transparentize($cor-secundaria, 0.5);
            // background: linear-gradient(180deg, $cor-secundaria, black);

        }
    }

}

.backgroundOverlay {

    position: fixed;
    top: 0;
    left: 0;
    background-size: contain;

    width: 100vmax;
    height: 100vh;

    // backdrop-filter: blur(2px);

}

.section {

    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    /* width: minmax(400px, 800px); */
    /* height: minmax(100vh, auto); */
    height: max-content;
    /* min-height: 100vh; */

    gap: 4rem;
    
    margin: 4rem;
    padding: 4rem 2rem;
    border-radius: 2rem;

    background-color: $cor-secundaria;

    transition: all 400ms;

}

.container_descricao {

    /* width: 50%; */
    /* flex: 1; */

    display: flex;
    flex-direction: column;

    /* padding: 2rem; */
    // height: 100%;

    overflow: hidden;

    .descricao {
    
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;

        gap: 1rem;
    
        .span {
        
            display: flex;
            align-items: center;
            gap: 1rem;
            color: $cor-primaria;
            
            font-size: 1.5rem;
            
            .logoHole {

                position: absolute;
                top: 3rem;
                left: 2rem;
                width: 100px;
                height: 100px;
                // background: linear-gradient(45deg, #421236, #141414);
                background-color: $cor-secundaria;

                border: 2px solid transparentize($cor-primaria, 0.8);

                overflow: hidden;

                svg {

                    width: 100%;
                    height: 100%;

                    path {

                        transition: d 2s;

                    }
                }
               
                .logoLine {
                    
                    box-sizing: inset 2px 2px 2px black;

                    position: absolute;
                    top: -10px;
                    left: -10px;

                    // opacity: 0.5;

                    width: 110%;
                    height: 110%;

                    background:
                    repeating-linear-gradient(
                    -45deg, 
                    transparent, 
                    transparent 8%, 
                    $cor-secundaria 5%, 
                    $cor-secundaria 10%
                    );
                    // background-size: cover;
                    // background-size: 20%;   
                    // background-size: cover; 
                    // opacity: .5;
                    // filter: url('#wave0');
                    filter: blur(1px);
                    filter: url('#wave');
    
                    // position: fixed;
                    // top: 0;
                    // left: 0;
    
                    overflow: hidden;

                }


            }

            .logo {
            
                width: clamp(100px, 100px, 100px);
                min-width: 100px;
                max-width: 100px;
                fill: $cor-primaria;

                padding-right: 1rem;
                // border-right: 2px solid #591c4a61;
                border-right: 2px solid transparentize($cor-primaria, 0.6);
            
            }
        
            h2 {
        
                width: fit-content;
                // margin: 0;

                outline: 1px solid transparent;
        
            }
            
            p {
        
                max-height: 4rem;
                overflow: scroll;
                overflow-x: hidden;
        
                margin: 0;
                margin-bottom: 2rem;
                font-size: 1rem;
                color: #591c4a;
                background: none;
                border: none;
                
                &::-webkit-scrollbar {
                    width: 5px;
                }
                
                &::-webkit-scrollbar-track {
                    background: none;
                }
                      
                /* Handle */
                &::-webkit-scrollbar-thumb {
                    background: #42123622;
                }
        
            }
            
        }
    }
    

    // form {
        
    //     display: flex;
    //     // flex-wrap: wrap;
    //     flex-direction: column;
    //     align-items: center;
    //     gap: 2rem;
    //     color: #591c4a;
        
    //     font-size: 1.5rem;
    
    // }



    // input {
    
    //     -webkit-appearance: textfield;
    //     -moz-appearance: textfield;
    //     appearance: textfield;
    
    //     max-width: 150px;
    //     /* width: 100%; */
    //     height: 50px;
    //     background-color: #e8d4b0;
    //     color: #591c4a;
    //     font-size: 1.2rem;
    //     padding-left: 1rem;
    //     border-radius: 0.5rem;
    
    //     outline: none;
    //     border: 2px solid #591c4a;
        
    // }

}

.container_tabela {

    display: flex;
    width: 80%;
    gap: 2rem;

    &:first-child {
    
        flex: 3;
    
    }
    
    &:last-child {
    
        flex: 2;
    
    }

}


.form {
    /* max-width: 200px; */
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    flex-direction: row;

    /* width: 80%; */

    gap: 1rem;
}

.botao {

    outline: none;
    border: 2px solid $cor-primaria;
    border-radius: 0.5rem;

    padding: 0 1rem;

    background-color: $cor-secundaria;

    font-size: 1.2rem;
    font-weight: 500;
    color: $cor-primaria;

    cursor: pointer;

    transition: all 200ms;

    &:hover {
    
        background-color: $cor-primaria;
        color: $cor-secundaria;
    
    }
}

.table {

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex: 1;
    width: 80%;
    gap: 1rem;

}

@media (max-width: 850px) {
    
    .container {

        flex-direction: column;
        width: 100%;
        
    }

    .container_descricao {

        width: 100%;

    }

    .table {

        width: 100%;

    }

}