@use './globalStyle.module.scss' as *;
@use 'sass:color';

.container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;

    backdrop-filter: blur(10px);
    
    strong { 
        
        color: color.adjust($cor-secundaria, $saturation: 30%);
        
    }
    
    .nav {

        position: fixed;
        top: 0;

        display: flex;
        justify-content: space-between;
        align-items: center;

        width: calc(100% - 2rem);

        padding: 1rem;
        padding-bottom: 0;

        span {

            display: flex;
            gap: 1rem;
            align-items: center;

            svg {
                height: 50px;
                width: 50px;

                path {
                    stroke: cor-mix(10%);
                }

            }

            h2 {
                color: cor-mix(0%);
                font-style: italic;
                margin: 0;
                padding: 0;
            }

        }

        a {

            text-decoration: none;

            button {

                display: flex;
                align-items: center;
                gap: 0.5rem;

                background: none;
                outline: none;
                border: 2px solid cor-mix(90%);
                // border: none;
                border-radius: 0.5rem;
    
                height: 30px;
                padding: 0 1rem 0 0.5rem;
    
                cursor: pointer;
    
                transition: background-color 400ms ease,
                            border-color 400ms ease;
    
                &:hover {
    
                    background-color: cor-mix(90%);
                    border-color: cor-mix(85%);
    
                }
    
                svg {

                    width: 20px;
                    height: 20px;
    
                    rotate: 180deg;

                    path {
                        fill: cor-mix(20%);
                    }
                }
    
                p {
                    color: cor-mix(10%);
                    font-size: 1rem;
                    margin: 0;
                    padding: 0;
                }

            }

        }

    }

    .wrapper {
        
        display: flex;
        justify-content: center;
        gap: 1rem;

        transition: width 500ms;

        div > span > svg {

            overflow: visible;
            width: 75px;
            height: 75px;

            path {

                // transform: translate(-20%, -20%);
                // scale: 1.5;
                // stroke-width: 20;
                stroke-width: 35;

                // stroke: $cor-secundaria;
                // stroke: cor-mix(20%);
                stroke: color.adjust($cor-secundaria, $alpha: -0.3);

                transition: stroke-width 400ms ease;

            }

        }

        div {

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            width: 100%;
            // align-items: center;

            gap: 1rem;

            .logoContainer {

                display: flex;
                gap: 1rem;

                .nameContainer {

                    display: flex;

                    // width: 0;
                    // overflow: hidden;
            
                    // animation: appear-left-100 2s forwards ease-out;
                    // animation-delay: 2.5s;
            
                    h1 {
                
                        display: flex;
                        align-items: center;

                        margin: 0;

                        color: $cor-secundaria;
                        color: color.change($cor-secundaria, $alpha: 0.1);

                        font-family: $fonte-body;
                        font-style: italic;
                        font-size: 2.5rem;
                        // font-weight: 500;
                
                        user-select: none;
                    }
                }

            }

            .border {

                width: 100px;
                min-width: 100px;
                height: 100px;
                min-height: 100px;

                border-radius: 1rem;

                background-color: cor-mix(20%);

            }

        }

        h2 {

            font-size: 2.5rem;
            font-weight: 500;
            color: $cor-secundaria;
            // width: 40vw;
            max-width: 750px;
            text-wrap: pretty;
            text-align: center;

            margin: 0;

            user-select: none;

        }

        strong {
            font-size: 2.5rem;
            font-weight: 400;
            font-style: italic;

            // color: cor-mix(0%);
            color: color.adjust(cor-mix(10%), $saturation: 1.2);
            background-color: color.change($cor-destaque, $alpha: 0.3);
            backdrop-filter: blur(2px);
            border-radius: 0.5rem;
            padding: 0 0.5rem;
        }

        .buttons {

            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 1rem;

            border-left: 2px solid $cor-mix;
            padding-left: 3rem;

            overflow: hidden;

            // height: 0;
            // animation: appear-down 2s forwards ease-out;
            // transition: opacity 2s ease-in;
            // animation: appear-left-200 forwards 2s;

            transition: width 1s ease, border-color 1s ease;

            a {

                button {

                    display: inline-flex;
                    align-items: center;
                    gap: 1rem;
                    padding: 1rem;

                    // width: 200px;
                    width: min-content;
                    height: 75px;
                    background: none;
                    outline: none;
                    
                    border: 3px solid transparent;
                    border-radius: 1rem;
                    
                    color: $cor-secundaria;
                    font-family: $fonte-body;
                    font-size: 1.5rem;
                    text-align: start;
                    font-weight: 500;
                    
                    backdrop-filter: blur(10px) saturate(110%);

                    overflow: hidden;

                    cursor: pointer;

                    // animation: appear-left-200 2s;

                    transition: backdrop-filter 600ms,
                                border 600ms,
                                width 600ms;

                    &:hover {

                        border: 3px solid $cor-secundaria;

                        // width: 200px;

                        background-color: color.adjust($cor-secundaria, $alpha: -0.99);

                        // backdrop-filter: blur(40px) saturate(120%);
                        // filter: brightness(100%);

                    }

                    &:active {

                        box-shadow: inset 2px 4px 10px $cor-primaria;

                    }

                    svg {
                        min-width: 50px;
                        max-width: 50px;
                        max-height: 50px;
                        // width: 100px;
                        // height: 100px;

                        
                        path, circle {
                            
                            stroke: $cor-secundaria;

                        }

                        .line {

                            stroke: $cor-primaria;

                        }

                        .fill {

                            fill: $cor-secundaria;

                        }
                    }

                }

            }

        }

    }
}

@keyframes appear-left-100 {
    
    0% {

        width: 0;

    }
    100% {

        width: 100px;

    }

}
@keyframes appear-left-200 {
    
    0% {
        opacity: 0;
        width: 0;
        // border-left: 0px solid transparent;
    }
    100% {
        opacity: 1;
        width: 200px;
        // border-left: 2px solid $cor-secundaria;
    }

}

@keyframes appear-down {
    
    0% {

        height: 0;

    }
    100% {

        height: 75px;

    }

}