@use './globalStyle.module.scss' as *;

.container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;

    backdrop-filter: blur(10px);

    strong { 

        // color: saturate(mix($cor-primaria, $cor-secundaria, 5%), 50%); 
        color: saturate($cor-secundaria, 30%);

    }

    .wrapper {

        display: flex;
        gap: 1rem;

        svg {

            path {

                stroke: $cor-secundaria;

            }

        }

        div {

            display: flex;
            flex-direction: column;
            justify-content: center;
            // align-items: center;

            gap: 1rem;

            .logoContainer {

                display: flex;
                gap: 1rem;

                .nameContainer {
            
                    display: flex;

                    width: 0;
                    overflow: hidden;
            
                    animation: appear-left-100 2s forwards ease-out;
                    animation-delay: 2.5s;
            
                    h1 {
                
                        display: flex;
                        align-items: center;

                        margin: 0;

                        color: $cor-secundaria;
                        font-family: $fonte-body;
                        font-style: italic;
                        font-size: 3rem;
                
                        user-select: none;
                    }
                }

            }

        }

        h2 {

            font-size: 3rem;
            color: $cor-secundaria;
            width: 40vw;

            margin: 0;

            user-select: none;

        }

        .buttons {

            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 1rem;

            border-left: 2px solid $cor-mix;
            padding-left: 3rem;

            // height: 0;
            // animation: appear-down 2s forwards ease-out;
            // transition: opacity 2s ease-in;
            animation: appear-left-200 2s;

            a {

                button {

                    display: inline-flex;
                    align-items: center;
                    gap: 1rem;
                    padding: 1rem;

                    // width: 200px;
                    width: min-content;
                    height: 75px;
                    background: none;
                    outline: none;
                    
                    border: 2px solid transparent;
                    border-radius: 1rem;
                    
                    color: $cor-secundaria;
                    font-family: $fonte-body;
                    font-size: 1.5rem;
                    text-align: start;
                    font-weight: 500;
                    
                    backdrop-filter: blur(10px) saturate(110%);

                    overflow: hidden;

                    cursor: pointer;

                    // animation: appear-left-200 2s;

                    transition: backdrop-filter 600ms,
                                border 600ms,
                                width 600ms;

                    &:hover {

                        border: 2px solid $cor-secundaria;

                        // width: 200px;

                        backdrop-filter: blur(20px) saturate(120%);
                        filter: brightness(100%);

                    }

                    &:active {

                        box-shadow: inset 2px 4px 10px $cor-primaria;

                    }

                    svg {
                        min-width: 50px;
                        max-width: 50px;
                        max-height: 50px;
                        // width: 100px;
                        // height: 100px;

                        
                        path, circle {
                            
                            stroke: $cor-secundaria;

                        }

                        .line {

                            stroke: $cor-primaria;

                        }

                        .fill {

                            fill: $cor-secundaria;

                        }
                    }

                }

            }

        }

    }
}

@keyframes appear-left-100 {
    
    0% {

        width: 0;

    }
    100% {

        width: 100px;

    }

}
@keyframes appear-left-200 {
    
    0% {
        opacity: 0;
        width: 0;

    }
    100% {

        opacity: 1;
        width: 200px;

    }

}

@keyframes appear-down {
    
    0% {

        height: 0;

    }
    100% {

        height: 75px;

    }

}