@use '../../../globalStyle.module.scss' as *;
@use 'sass:color';

.pedidos {

    display: flex;
    flex-direction: column;
    // gap: 0.5rem;

    flex: 2;
    flex-shrink: 0;
    // border: 2px solid cor-mix(50%);
    // border-right: 2px solid;
    // border-image: linear-gradient(0deg , $cor-secundaria, cor-mix(40%)) 5;

    // border-radius: 1rem;
    // margin-right: 2rem;

    // margin-top: 4rem;

    .header {

        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
        padding-top: 0;

        // border-top: 1px solid cor-mix(20%);
        // border-image: linear-gradient(to right , $cor-secundaria, cor-mix(40%)) 27;

        .title {

            h3 {

                border-bottom: 2px solid;
                border-image: linear-gradient(to left , $cor-secundaria, cor-mix(40%)) 27;
                padding-bottom: 0.5rem;
                margin-bottom: 0.5rem;

            }

            p {

                margin: 0;

            }

        }

        .links {

            display: flex;
            gap: 0.5rem;
            width: 100%;

            .novo {

                display: flex;
                flex: 1;
                justify-content: center;
                align-items: center;
                gap: 0.2rem;

                font-family: $fonte-body;

                height: calc(30px - 4px);
                padding: 0 0.5rem;

                outline: none;
                border: 2px solid cor-mix(20%);
                border-radius: 0.5rem;

                color: cor-mix(70%);
                font-size: 1rem;
                font-weight: bold;
                text-decoration: none;

                background-color: cor-mix(5%);

                transition: background-color 400ms ease;

                cursor: pointer;

                &:hover {

                    background-color: cor-mix(10%);

                }

                &:disabled {

                    background-color: cor-mix(20%);
                    border-color: cor-mix(30%);
                    color: cor-mix(0%);

                    cursor: default;

                }

                svg {

                    width: 20px;
                    height: 20px;

                    path, line, circle {

                        stroke: cor-mix(70%);
                        stroke-width: 50;

                    }

                    rect {
                        fill: $cor-secundaria;
                    }

                }

            }
        }


        .filters {

            position: relative;

            display: flex;
            gap: 1rem;
            border: 2px solid cor-mix(30%);
            border-radius: 0.5rem;
            box-sizing: border-box;
            // overflow: hidden;

            .search {

                // max-height: 33.2px;
                display: flex;
                justify-self: flex-start;
                width: 100%;
                box-sizing: border-box;
                height: 30px;
                padding: 0.25rem;
                // border-color: cor-mix(30%);
                border: none;
                border-radius: 0.5rem;

                &:focus-within {
                    box-shadow: none !important;
                }

                svg {

                    fill: cor-mix(60%);

                }

                & > div {

                    width: 100%;

                    input {

                        width: 100%;
                        flex: 1;
                        padding-left: 0.25rem;

                        font-size: 1rem;
                        color: cor-mix(80%);

                        &::placeholder {

                            font-size: 1rem;

                        }

                    }

                }

            }

            .filter {

                display: flex;
                align-items: center;
                gap: 0.25rem;
                padding: 0.25rem 0.5rem;
                height: 30px;

                outline: none;
                // border: 2px solid cor-mix(20%);
                border: none;
                border-left: 2px solid cor-mix(30%);
                border-top-right-radius: 0.5rem;
                border-bottom-right-radius: 0.5rem;
                background-color: cor-mix(0%);

                cursor: pointer;

                transition: background-color 400ms ease;

                &:hover, &[data-active='true'] {

                    background-color: cor-mix(5%);

                }

                svg {

                    path, line, ellipse {
                        stroke: cor-mix(60%);
                    }

                }

                p {
                    color: cor-mix(60%);
                    font-size: 1rem;
                    font-family: $fonte-body;
                }

            }

            .modal {

                position: absolute;
                top: calc( 30px + 1rem );
                left: -2px;

                width: 100%;

                display: flex;
                flex-direction: column;

                // box-sizing: border-box;

                background-color: cor-mix(0%);
                border: 2px solid cor-mix(20%);
                border-radius: 0.5rem;

                // padding: 0.5rem;

                overflow: hidden;

                box-shadow: 2px 2px 12px 2px $cor-primaria-transparent;

                .header {

                    display: flex;
                    align-items: center;
                    flex-direction: row;
                    justify-content: space-between;

                    background-color: cor-mix(5%);
                    border-bottom: 2px solid cor-mix(10%);

                    padding: 0.5rem 1rem;

                    h3 {

                        display: flex;
                        align-items: center;

                        margin: 0;
                        font-size: 1rem;
                        @include font-bold;

                        color: cor-mix(60%);
                        
                    }

                    button {

                        outline: none;
                        border: none;
                        background: none;
                        padding: 0;

                        width: 25px;
                        height: 25px;

                        cursor: pointer;

                    }

                    svg {

                        width: 25px;
                        height: 25px;

                        path {

                            stroke: cor-mix(80%);

                        }

                    }
                }

                .filtros {

                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;

                    padding: 1rem 0;

                    box-sizing: border-box;
                    background-color: cor-mix(0%);

                    width: 100%;

                    overflow: hidden;

                    .calendar {

                        background-color: cor-mix(0%);

                    }

                    > span {
                        
                        display: flex;
                        flex-direction: column;
                        gap: 0.25rem;
                        box-sizing: border-box;

                        padding: 0 1rem;

                        &:not(:last-child) {
                            border-bottom: 2px solid cor-mix(20%);
                            padding-bottom: 1rem;
                        }

                        p {
                            
                            color: cor-mix(60%);

                        }

                        input {

                            width: 100%;
                            box-sizing: border-box;

                        }

                    }

                }

                .footer {

                    display: flex;
                    justify-content: space-between;
                    padding: 1rem;

                    border-top: 2px solid cor-mix(10%);

                    button {

                        border: 2px solid;
                        border-radius: 0.5rem;
                        background-color: cor-mix(5%);
                        height: 26px;
                        padding: 0 1rem;

                        font-family: $fonte-body;
                        font-size: 1rem;

                        cursor: pointer;

                        transition: border-color 400ms ease,
                                    background-color 400ms ease;

                    }

                    .clear {

                        border-color: cor-mix(10%);
                        color: cor-mix(50%);

                        &:hover {

                            background-color: cor-mix(7%);
                            border-color: cor-mix(15%);

                        }

                    }

                    .confirm {

                        border-color: cor-mix(80%);
                        background-color: cor-mix(70%);
                        color: cor-mix(0%);

                        &:hover {

                            border-color: cor-mix(90%);
                            background-color: cor-mix(80%);

                        }

                    }

                }

                p {
                    margin: 0;
                }

            }

        }

    }

    .content {

        width: 100%;
        height: 100%;
        box-sizing: border-box;
        padding: 1rem;
        background-color: cor-mix(3%);

        border-top: 1px solid cor-mix(20%);
        // border-image: linear-gradient(to right , $cor-secundaria, cor-mix(40%)) 27;

        overflow-y: scroll;

        @include thin-scrollbar-global;

        &::-webkit-scrollbar-track {
            background-color: cor-mix(3%);
        }

        & > :first-child h3 {
            margin-top: 0;
        }

        .pedidosContainer {

            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            .pedido {

                display: flex;
                justify-content: space-between;
                align-items: center;

                gap: 0.5rem;
                padding: 0 0.5rem;
                padding-left: 0;

                min-height: calc(50px - 0.2rem);

                font-family: $fonte-body;

                border: 2px solid cor-mix(20%);
                background-color: cor-mix(0%);
                border-radius: 0.5rem;
                text-decoration: none;
                overflow: hidden;

                @include font-bold;

                transition: background-color 400ms ease,
                            border-color 400ms ease,
                            outline 400ms ease;

                &:hover {

                    background-color: cor-mix(3%);
                    border-color: cor-mix(23%);

                }

                &[data-selected="true"] {

                    background-color: cor-mix(0%);
             
                    border-color: color.mix($cor-destaque, $cor-secundaria, 60%);
                    outline: 1px solid color.mix($cor-destaque, $cor-secundaria, 60%);

                    svg {

                        border-color: color.mix($cor-destaque, $cor-secundaria, 60%);

                        path {
                            stroke: cor-mix(80%);

                        }
                    }

                    p {
                        color: cor-mix(80%);
                    }

                }

                svg {

                    width: 25px;
                    height: 25px;

                    path, circle, line, ellipse {
                        stroke: cor-mix(60%);
                    }

                }

                p {

                    margin: 0;
                    text-decoration: none;

                    color: cor-mix(80%);

                    transition: color 400ms ease;

                }

                .idContainer {

                    display: flex;
                    gap: 0.1rem;
                    height: calc(50px - 4px);
                    background-color: cor-mix(2%);
                    align-items: center;
                    padding-left: 0.5rem;

                    svg {
                        width: 20px;
                        height: 20px;

                        path {
                            stroke: cor-mix(40%);
                        }
                    }

                    .id {

                        display: flex;
                        align-items: center;
                        font-size: 1.1rem;
                        height: 100%;

                        padding-right: 0.5rem;
                        border-right: 2px solid cor-mix(10%);

                        .zero {
                            color: cor-mix(40%);
                        }

                    }

                }

                .id {

                    display: flex;
                    font-size: 1.1rem;
                    height: 100%;

                    padding-right: 0.5rem;
                    border-right: 2px solid cor-mix(30%);

                }

                .fornecedor {



                }

                .composto {

                    display: flex;
                    justify-content: flex-end;
                    flex-direction: column;

                    margin-left: auto;

                    .data {

                        font-size: 1rem;

                    }

                    .horas {

                        display: flex;
                        justify-content: flex-end;

                        font-weight: 500;
                        font-size: 0.8rem;

                    }

                }

            }

            .noMatch {

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 1.5rem;
                padding: 0.5rem;

                p {

                    text-wrap: pretty;
                    color: cor-mix(80%);
                    margin: 0;

                }


                .info {

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 0.5rem;

                    & > svg {

                        width: 35px;
                        min-width: 35px;
                        max-width: 35px;
                        height: 35px;

                        path, circle, line, ellipse {
                            stroke: cor-mix(80%);
                        }

                    }

                }

                .query {

                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 1rem;

                    width: 100%;
                    box-sizing: border-box;

                    border: 2px solid cor-mix(10%);
                    border-radius: 0.5rem;
                    padding: 1rem;

                    background-color: cor-mix(7%);

                    p {



                    }

                    button {

                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 0.5rem;

                        width: 100%;

                        outline: none;
                        border: 2px solid cor-mix(30%);
                        border-radius: 0.5rem;
                        background-color: cor-mix(10%);

                        svg {

                            path, line, ellipse {
                                stroke: cor-mix(60%);
                            }

                        }

                        p {

                            color: cor-mix(60%);
                            font-family: $fonte-body;
                            font-size: 1rem;

                        }

                    }

                }



            }

            .load {

                display: flex;
                justify-content: center;
                align-items: center;
                gap: 0.1rem;

                font-family: $fonte-body;

                height: 30px;
                padding: 0 0.5rem;

                outline: none;
                border: 2px solid cor-mix(20%);
                border-radius: 0.5rem;

                color: cor-mix(70%);
                font-size: 1rem;
                font-weight: bold;
                text-decoration: none;

                background-color: cor-mix(5%);

                transition: background-color 400ms ease;

                cursor: pointer;

                &:hover {

                    background-color: cor-mix(10%);

                }

                &:disabled {

                    background-color: cor-mix(20%);
                    border-color: cor-mix(30%);
                    color: cor-mix(70%);

                    cursor: default;

                }

                svg {

                    width: 20px;
                    height: 20px;

                    path {

                        stroke: cor-mix(70%);
                        stroke-width: 50;

                    }

                }

            }

        }


        .title {

            h3 {

                border-bottom: 2px solid;
                border-image: linear-gradient(to left , $cor-secundaria, cor-mix(40%)) 27;
                padding-bottom: 0.5rem;

            }

        }

    }

}

.datePicker {

    display: flex;
    flex-direction: column;

    .inputWrapper {

        display: flex;
        flex-direction: row;
        gap: 1rem;

        border: 2px solid cor-mix(40%);
        border-radius: 0.5rem;
        width: fit-content;

        padding: 0.25rem 0.5rem;

        .dateInput {

            display: flex;
            gap: 0.25rem;

            .segment {

                display: flex;
                align-items: center;
                font-size: 1rem;
                color: cor-mix(80%);
                padding: 0 0.25rem;
                caret-color: transparent;

                &[data-placeholder] {
                    color: cor-mix(50%);
                }

                &[data-focused] {
                    background-color: color.mix($cor-destaque, $cor-secundaria, 15%);
                    outline: 2px solid color.mix($cor-destaque, $cor-secundaria, 20%);
                    border-radius: 0.25rem;
                    color: color.mix($cor-destaque, $cor-secundaria, 100%);
                }

            }

        }

        .expand {

            display: flex;
            align-items: center;

            outline: none;
            background: none;
            border: none;
            padding: 0;

            cursor: pointer;

            transition: background-color 400ms ease;

            &:hover {

                background-color: cor-mix(5%);

            }

            svg {

                width: 20px;
                height: 20px;

                path, line {
                    stroke: cor-mix(60%);
                }

            }

        }

    }

}

.popover {

    border: 2px solid cor-mix(20%);
    border-radius: 0.5rem;
    padding: 1rem;

    background-color: cor-mix(0%);

    box-shadow: 2px 2px 12px 2px $cor-primaria-transparent;

    transition: opacity 400ms ease;

    &[data-entering],
    &[data-exiting] {
        opacity: 0;
    }

    .dialog {
        
        
        .calendar {
    
            display: flex;
            flex-direction: column;

            .header {

                display: flex;

                button {

                }

                .month {

                    font-size: 1rem;

                }

            }

            .grid {

                display: flex;
                flex-direction: column;
                border-collapse: collapse;

                thead {

                    tr {
                        display: grid;
                        grid-template-columns: repeat(7, 30px);
                        min-height: 32px;
                    }


                }

                tbody {

                    display: grid;
                    // grid-template-columns: repeat(7, 20px);
                    grid-template-rows: repeat(auto, 30px);

                    tr {

                        display: grid;
                        grid-template-columns: repeat(7, 30px);
                        min-height: 32px;

                        td {

                            text-align: center;
                            background-color: cor-mix(0%);
                            padding: 2px 0;

                            &:hover > div {

                                background-color: cor-mix(5%);

                            }

                            div {
                            
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                border: none;
                                cursor: pointer;
                                // transition: background-color 400ms ease;
                                height: 100%;
                                padding: 0;

                                &[data-focus-visible] {
                                    outline: 2px solid;
                                    outline-color: color.mix($cor-destaque, $cor-secundaria, 80%);
                                    outline-offset: -2px;
                                    // border-radius: 0.25rem;
                                }

                                &[data-selected='false'][data-focused] {
                                    outline: 2px solid;
                                    outline-color: color.mix($cor-destaque, $cor-secundaria, 80%);
                                    outline-offset: -2px;
                                    border-radius: 0.25rem;
                                }
                                &[data-selected][data-focused] {
                                    outline: 2px solid;
                                    // outline-color: color.mix($cor-destaque, $cor-secundaria, 30%);
                                    outline-color: color.adjust(cor-mix(0%), $lightness: 15%);
                                    outline-offset: -2px;
                                    // border-radius: 0.25rem;
                                }
                                

                                &[data-selected]{
                                    // background-color: cor-mix(10%);
                                    background-color: color.mix($cor-destaque, $cor-secundaria, 80%);
                                    color: cor-mix(0%);
                                }

                                &[data-selection-start] {
                                    border-top-left-radius: 0.25rem;
                                    border-bottom-left-radius: 0.25rem;
                                }

                                &[data-selection-end] {
                                    border-top-right-radius: 0.25rem;
                                    border-bottom-right-radius: 0.25rem;
                                }

                                &[data-outside-month] {
                                    display: none;
                                }

                            }

                            // &:hover {

                            //     background-color: cor-mix(5%);

                            // }

                        }

                    }

                }

                .date {

                }

            }

        }

    }

}



@media (width <= 900px) {

    .fatores {

        min-width: 280px;
        margin-top: 0;

        .content {
            border-top: none;
        }

    }

}

@media (width <= 700px) {

    .pedidos {
        min-width: 0;
        width: calc(100vw - 4rem);
        flex: none;

        scroll-snap-align: start;
    }

    // .pedidos[data-active="false"]{
    //     display: none;
    // }

}

@media (width <= 440px) {

    .pedidos {

        .content {

            padding: 0;

        }
    }


}