@use '../../globalStyle.module.scss' as *;

.select {

    display: none;

    position: fixed;
    top: 0;
    right: 1rem;

    z-index: 10;

    & > div {

        width: 150px;

        & > div {

            width: 153.2px !important;
            // width: fit-content !important;

        }

    }

}

@media (width <= 700px) {

    .select {
        
        display: flex;
        align-items: center;

        height: 4rem;

        div {

            border-width: 1px;

            button {

                background-color: transparent !important;

                input {

                    color: $cor-secundaria !important;

                }


            }

        }

    }

}