
.container {

    display: flex;
    flex: 1;

    .labelList p,
    form div{

        &:nth-child(odd) {

            background-color: #e8d4b0;


        }
        &:nth-child(even) {

            background-color: #dac3a6;

        }

    }

    .labelList p:last-child {

        border-bottom-left-radius: 2rem;
        
    }
    
    form div:last-of-type{
        
        border-bottom-right-radius: 2rem;

    }

    // form div {

    //     // background-color: lighten(#e8d4b0, 5%);
    //     &:nth-child(odd):focus-within {

    //         background-color: lighten(#e8d4b0, 5%);
    //         // background: linear-gradient(to left, #b4a487, #dac3a600 75%);
            
    //     }
    //     &:nth-child(even):focus-within {

    //         background-color: #ceb69a;
    //         // background: linear-gradient(to left, #b19f83, #dac3a6 75%);

    //     }

    // }

    .labelList {

        flex: 1;

        display: flex;
        flex-direction: column;

        p {

            
            margin: 0;
            height: 50px;
            
            line-height: 3rem;
            
            padding-left: 1rem;
            // border-bottom: 2px solid transparent;
            border-right: 1px solid #591c4a44;

            font-size: 1.2rem;
            color: #591c4a;

        }

    }

    form {

        width: 50%;

        flex: 1;

        display: flex;
        flex-direction: column;

        div  {

            display: flex;

            &:hover {

                filter: brightness(105%);


                & > svg {

                    opacity: 1;

                }

            }

            input {

                position: relative;

                width: auto;
                height: 50px;
                background: none;
                color: #591c4a;
                font-size: 1.5rem;
                padding: 0;
                padding-left: 1rem;

                outline: none;
                border: none;
                border-left: 1px solid #591c4a44;
                border-right: 5px solid transparent;
                
                transition: border-right 400ms ease-out;

                // &:not(:last-child) {

                //     border-bottom: 2px solid #591c4a44;

                // }

                &::placeholder {

                    font-size: 1.2rem;
                    color: #3b033153;
                
                }

                &:focus-within:not(:last-child) {

                    // background: linear-gradient(to right, #edddbe, #ffffff00 75%);
                    // background-color: #591c4a74;
                    border-right: 15px solid #591c4a5d;
                    
                }

                &:disabled {
                    
                    // background-color: #4b39460f;
                    border-right: 5px solid #591c4a;
                
                    &:hover {

                        cursor:cell;

                    }

                }

                &:not(:disabled) ~ svg {

                    display: none;
                
                }

                
            }

            svg {

                opacity: 0;

                box-sizing: content-box;
                max-width: 28.2px;
                position: absolute;
                right: 10px;
                top: 10px;
                
                // padding: 0.1rem;
                
                border-radius: 0.25rem;
                border: 2px solid transparent;
                
                transition: fill 400ms,
                            opacity 200ms ease-out,
                            border 400ms,
                            box-shadow 400ms ease-out;

                cursor: pointer;
                
                path {
                    
                    stroke: #591c4a46;
                    transition: stroke 400ms;

                }

                &:hover {

                    path {

                        stroke: #591c4a;

                    }
                    background-color: #e8d4b0;
                    border: 2px solid #591c4a;
                    box-shadow: 3px 3px 10px 2px #591c4a44;

                }

                &:active {

                    background-color: #dac3a6;
                    box-shadow: inset 2px 2px 5px 2px #591c4a44;
                }
            }
        
            button {
                
                display: none;
            }
        }   
    }
}