@use '../../../globalStyle.module.scss' as *;
@use 'sass:color';

// @function calculate-color($value) {
//     $hue: $value * 1deg; // Convert class value to degrees for hue
//     $saturation: 100%;   // Full saturation
//     $lightness: 50%;     // Medium lightness, you can adjust this as needed
    
//     @return hsl($hue, $saturation, $lightness);
//   }
  

// @for $i from 0 through 100 {

//     $percent: 1% * $i;
//     $t: 100-$i;
//     $n: $t/100;

//     .cor-#{$i}{
//     }
// }

@for $i from 0 through 5 {

    $percentage: 20% + (10% * $i);
    $mixed-color: color.mix($cor-primaria, $cor-secundaria, $percentage);

    $inverted: (5 - $i);
    $transparency: $inverted/10;

    .cor-#{$i}{
        stroke: color.adjust($mixed-color, $alpha: -$transparency, $lightness: -5%, $saturation: 15%);
    }

}

.wrapper {

    display: flex;
    gap: 2rem;
    // justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 1rem;
    background-color: $cor-secundaria;
    width: 100%;
    height: 55.2px;
    transition: all 600ms ease-out;
    border-bottom: 2px solid $cor-mix;

    z-index: 2;

    button {
        outline: none;
        background: none;
        border: none;
        padding: 0;

        cursor: pointer;

        svg {
            fill: $cor-primaria;
            path {
                // transition: d 600ms;
            }
        }
    }
}

.active {

    border-color: $cor-primaria;
    background-color: $cor-mix;

}


.notFound {

    animation: appear 600ms ease;

    svg {

        path {
    
            stroke: cor-mix(50%);
    
        }
    
        circle:last-of-type {
    
            stroke: cor-mix(50%);
    
        }
    }


}

.scroll {

    display: inline-flex;
    align-items: center;

    flex: 1;

    border-radius: 1rem;
    width: 30%;
    height: 50px;

    .down {
        position: absolute;
        left: 0;

        background-color: transparent;

        opacity: 0;
        transition: opacity 600ms;
    }

    .search {

        display: flex;
        // flex: 1;
        max-height: 30px;
        padding: 0.25rem 0.25rem 0.25rem 0.5rem;

    }

    // &:hover {
        
    //     border-top-color: transparent;
    //     // mask-image: url('../assets/tile2.svg');
        
    //     // border: 2px dashed;
        
    //     pattern {

    //         svg {
    //             path {
    //                 stroke: $cor-primaria-transparent;
    //             }
    //         }
    //     }

    //     & > .down {
    //         opacity: 1;
    //         background-color: $cor-primaria;
    //     }
    // }

    pattern {
        svg {
            path {
                // stroke: $cor-mix;

                transition: all 850ms ease-out;

            }
        }
    }

}