@use '../../../../app/globalStyle.module.scss' as *;

.container {

    position: relative;

    display: flex;
    flex-direction: column;
    /* width: 100%; */

}

.label {

    margin-bottom: 0.25rem;

}

.input {

    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;

    max-width: 200px;
    /* width: 100%; */
    height: 50px;
    background-color: $cor-secundaria;
    color: $cor-primaria;
    font-size: 1.5rem;
    padding-left: 1rem;
    border-radius: 0.5rem;

    outline: none;
    border: 2px solid $cor-primaria;

    &::placeholder {
    
        font-size: 1.2rem;
        // color: #3b033153;
        color: $cor-primaria-transparent;
    
    }
    
    &:disabled {
    
        // background-color: #4b39460f;
        background-color: transparentize($cor-primaria, 0.7);
    
    }
    
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    
    &:not(:disabled) ~ .svg {
    
        display: none;
    
    }
}


.svg {

    position: absolute;
    right: 15px;
    top: 25%;

    padding: 0.25rem;

    border-radius: 0.5rem;
    border: 2px solid transparent;

    cursor: pointer;

    &:hover {
    
        border: 2px solid $cor-primaria;
    
    }
}
