@use '../../../../globalStyle.module.scss' as *;

.header {

    display: flex;
    gap: 0.5rem;
    // border: 2px solid cor-mix(20%);
    border-bottom: none;
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-bottom: 2px solid cor-mix(20%);
    // padding: 0.5rem;
    padding: 0 0.65rem 0 0.5rem;
    background-color: cor-mix(5%);
    // margin-bottom: 1rem;

    & > div {

        flex: 4;
        color: cor-mix(80%);
        font-size: 0.9rem;
        // min-width: 50px;
        width: clamp(50px, auto, 100px);

        padding: 0.5rem 0;

        &:first-child {

            flex: 1;

        }

        &:last-child {

            flex: 2;

        }

        &:not(:last-child) {

            border-right: 2px solid cor-mix(20%);

        }

    }

}