

.tbody {

    display: flex;
    flex-direction: column;
    align-items: center;
    
    font-size: 1.2rem;
    
    text-align: center;
    height: 100%;
    // box-sizing: border-box;    

    
    .tr {
        
        min-width: max-content;
        flex: 1;
        width: 100%;
        // box-sizing: border-box;    
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        
        // padding: 0.5rem;
        
        &:nth-child(even) .td {
            
            border-radius: 0;
            background-color: #591c4a18;
            
        }

        &:last-child {
            .td{
                &:first-child {
   
                    border-bottom-left-radius: 2rem;

                }
                &:last-child {

                    border-bottom-right-radius: 2rem;

                }
            }
        }

        .td {

            align-items: center;
            flex: 1;

            &:not(:last-child) {
        
                border-right: 2px solid #591c4a44;
                
            }

        }
        
    }

}



// tr {
//     border-radius: 1rem;
// }

.tr .td {

    padding: 1rem 0.5rem;
    
}

.lastRow .td:first-child {

    border-bottom-left-radius: 2rem;

}

// .lastRow {

//     & td:first-child {

//         // background-color: black;
//         // border-radius: 2rem;
//         border-bottom-left-radius: 2rem;

//     }

//     & td:last-child {

//         background-color: white;

//     }

// }

// .lastRow .first {

//     padding: 1rem 0.5rem;
//     border-bottom-left-radius: 2rem;

// }

// .lastRow .last {

//     padding: 1rem 0.5rem;
//     border-bottom-right-radius: 2rem;

// }