@keyframes slideIn {
    0% {
        transform: translateY(-100%);
        // height: 0;
        // opacity: 0;
    }
    100% {
        transform: translateY(0);
        // height: 55.2px;
        // opacity: 1;
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes disappear {
    0% {
        opacity: 1;
        height: 55.2px;
    }
    100% {
        opacity: 0;
        height: 0;
    }
}

.tbody {

    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 1.2rem;

    text-align: center;
    // height: max-content;
    // box-sizing: border-box;

    transition: height 400ms;

    .rowVisible {
        opacity: 1;
        transition: opacity 0.5s ease-in-out;
    }

    .rowHidden {
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
    }
    
    .tr {

        position: relative;
        min-width: max-content;
        flex: 1;
        width: 100%;
        // box-sizing: border-box;
        display: flex;
        justify-content: center;
        width: 100%;
        align-items: center;
        max-height: 55.2px;

        overflow: visible;

        // animation: slideIn 450ms;
        // animation: appear 600ms;
        transition: all 400ms ease;

        &:not(span) {
            animation: none;
        }
        // padding: 0.5rem;

        &:nth-child(odd) .td {

            background-color: #e8d4b0;

        }
        &:nth-child(even) .td {

            border-radius: 0;
            background-color: #dac3a6;

        }

        &:last-child {
            .td{
                &:first-of-type {

                    border-bottom-left-radius: 2rem;

                }
                &:last-of-type {

                    border-bottom-right-radius: 2rem;

                }
            }
        }

        &:hover {

            &:nth-child(odd) .td {

                filter: brightness(105%);

            }
            &:nth-child(even) .td {

                filter: brightness(95%);

            }

            & > svg {

                display: block;
                opacity: 1;

            }

        }

        .td {

            padding: 1rem;
            align-items: center;
            flex: 1;

            transition: filter 400ms;

            &:not(:last-of-type) {

                border-right: 2px solid #591c4a44;

            }

        }

        svg {

            display: block;
            opacity: 0;
            position: absolute;
            fill: #591c4a46;
            border: 2px solid transparent;

            border-radius: 0.25rem;
            // padding: 0.25rem;

            cursor: pointer;

            transition: fill 400ms,
                        opacity 200ms ease-out,
                        border 400ms,
                        box-shadow 400ms ease-out;

            &:first-of-type{

                right: 45px;

            }

            &:last-of-type{

                right: 10px;

            }

            &:hover {

                fill: #591c4a;
                background-color: #e8d4b0;
                border: 2px solid #591c4a;
                box-shadow: 3px 3px 10px 2px #591c4a44;

            }

            &:active {

                background-color: #dac3a6;
                box-shadow: inset 2px 2px 5px 2px #591c4a44;
            }

        }

        .backdrop {

            position: fixed;
            top: 0;
            left: 0;
            background-color: #19121741;
            // bottom: 50%;
            // bottom: 100px;
            width: 100vmax;
            height: 100vmax;

            z-index: 9;

            transition: background-color 600ms ease-out;

            &:hover {

                background-color: #2920271f;   

            }

        }
        span {

            box-shadow: 2px 2px 50px #000;

            width: 50%;

            height: 0;
            overflow: hidden;

            position: absolute;
            // right: 20%;
            right: -18%;
            bottom: 100%;

            border-radius: 2rem;
            background-color: #e8d4b0;

            z-index: 10;

            transition: height 400ms;

        }


    }

}

.tr .td {

    padding: 0.5rem;

}

.lastRow .td:first-child {

    border-bottom-left-radius: 2rem;

}

// tr {
//     border-radius: 1rem;
// }


// .lastRow {

//     & td:first-child {

//         // background-color: black;
//         // border-radius: 2rem;
//         border-bottom-left-radius: 2rem;

//     }

//     & td:last-child {

//         background-color: white;

//     }

// }

// .lastRow .first {

//     padding: 1rem 0.5rem;
//     border-bottom-left-radius: 2rem;

// }

// .lastRow .last {

//     padding: 1rem 0.5rem;
//     border-bottom-right-radius: 2rem;

// }