@use '../../../app/globalStyle.module.scss' as *;

.tbody {

    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 1.2rem;

    text-align: center;
    // height: max-content;
    // box-sizing: border-box;

    // transition: height 400ms;

    .rowVisible {
        opacity: 1;
        transition: opacity 0.5s ease-in-out;
    }

    .rowHidden {
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
    }
    
    .tr {

        position: relative;
        min-width: max-content;
        flex: 1;
        width: 100%;
        // box-sizing: border-box;
        display: flex;
        justify-content: center;
        width: 100%;
        align-items: center;
        max-height: 55.2px;

        overflow: visible;

        color: $cor-primaria;

        animation: slideIn 450ms;
        animation: appear 600ms ease-out;
        transition: all 400ms ease;

        &:not(span) {
            animation: none;
        }
        // padding: 0.5rem;

        &:nth-child(odd) .td {

            background-color: $cor-secundaria;

        }
        &:nth-child(even) .td {

            border-radius: 0;
            // background-color: #dac3a6;
            background-color: $cor-mix;

        }

        &:last-child {
            .td{
                &:first-of-type {

                    border-bottom-left-radius: 2rem;

                }
                &:last-of-type {

                    border-bottom-right-radius: 2rem;

                }
            }
        }

        &:hover {

            &:nth-child(odd) .td {

                filter: brightness(105%);

            }
            &:nth-child(even) .td {

                filter: brightness(95%);

            }

            & > button {

                display: block;
                opacity: 1;

            }

        }

        .td {

            padding: 1rem;
            align-items: center;
            flex: 1;

            transition: filter 400ms;

            &:not(:last-of-type) {

                // border-right: 2px solid #591c4a44;
                border-right: 2px solid transparentize($cor-primaria, 0.8);

            }

        }

        button {

            display: block;
            opacity: 0;
            position: absolute;

            background: none;
            border: none;
            outline: none;
            padding: 0;

            &:first-of-type{

                right: 45px;

            }

            &:last-of-type{

                right: 10px;

            }
            svg {
    
                // fill: #591c4a46;
                fill: transparentize($cor-primaria, 0.8);
                border: 2px solid transparent;
    
                border-radius: 0.25rem;
                // padding: 0.25rem;
    
                cursor: pointer;
    
                transition: fill 400ms,
                            opacity 200ms ease-out,
                            border 400ms,
                            box-shadow 400ms ease-out;
    
    
                &:hover {
    
                    fill: $cor-primaria;
                    background-color: $cor-secundaria;
                    border: 2px solid $cor-primaria;
                    box-shadow: 3px 3px 10px 2px transparentize($cor-primaria, 0.8);
    
                }
    
                &:active {
    
                    background-color: $cor-mix;
                    box-shadow: inset 2px 2px 5px 2px transparentize($cor-primaria, 0.8);
                }
    
            }
        }

        .backdrop {

            @keyframes blur {
                0%{
                    backdrop-filter: blur(0px);
                } 
                100%{
                    backdrop-filter: blur(3px);
                }
            }

            backdrop-filter: blur(3px);

            position: fixed;
            top: 0;
            left: 0;
            // background-color: #19121741;
            background-color: transparentize(darken($cor-primaria, 20%), 0.8);
            // bottom: 50%;
            // bottom: 100px;
            width: 100vmax;
            height: 100vmax;

            z-index: 9;

            transition: background-color 600ms ease-out;

            animation: blur 1200ms ease-out;                        

            &:hover {

                cursor:alias; 

                background-color: transparentize(darken($cor-secundaria, 10%), 0.8);   
                backdrop-filter: blur(2px);


            }

        }
        span {

            box-shadow: 2px 2px 50px #000;

            width: 50%;

            height: 0;
            overflow: hidden;

            position: absolute;
            // right: 20%;
            right: -18%;
            bottom: 100%;

            border-radius: 2rem;
            background-color: $cor-secundaria;

            z-index: 10;

            transition: height 400ms;

        }


    }

}

.tr .td {

    padding: 0.5rem;

}

.lastRow .td:first-child {

    border-bottom-left-radius: 2rem;

}
