@use '../../app/globalStyle.module.scss' as *;

.div {

    transition: all 1000ms;
    animation: appear 600ms ease-out    ;             

}

.table {

    display: flex;
    flex-direction: column;

    flex: 1;

    min-width: 240px;
    width: 100%;
    height: 110px;
    // height: fit-content;

    color: $cor-primaria;

    border: 2px solid $cor-primaria;
    border-radius: 2rem;

    z-index: 2;
    
    // overflow: hidden;
    // & ~ :not(span) {
        
    //     overflow: hidden;

    // }

    animation: appear 600ms ease-out;

}

.empty {

    display: flex;
    justify-content: center;
    align-items: center;

    border: 2px dashed $cor-primaria;
    border-radius: 2rem;
    width: 100%;
    height: 20vh;

    animation: appear 400ms;

    p {
    
        font-size: 1.5rem;
        color: $cor-primaria;
    
    }
}


@media (max-width: 900px) {

    .table {

        width: 100%;

    }

    .empty {

        width: 100%;

    }

}