.table {

    table-layout: fixed;
    /* border-collapse: collapse; */
    border-spacing: 0;

    gap: 1rem;

    width: 80%;

    color: #591c4a;

    border: 2px solid #591c4a;
    border-radius: 2rem;
    padding: 1rem;

    font-size: 1.5rem;
}

.thead {


}

.th {
    padding-bottom: 1rem;;
    border-bottom: 2px solid #591c4a;
}


.tbody {
    text-align: center;
    width: 20%;
    height: 50px;

}

.tbody td {
    /* border: 2px solid #591c4a; */
}

.tbody tr:nth-child(even) {
    
    background-color: #591c4a18;
    
}

.tbody tr:last-child td:first-child {

    border-bottom-left-radius: 1rem;

}
 
.tbody tr:last-child td:last-child {

    border-bottom-right-radius: 1rem;

}

.tr td {

    padding: 1rem 0.5rem;

}

