@use '../../app/globalStyle.module.scss' as *;
@use 'sass:color';

$cor-destaque: color.adjust(cor-mix(70%), $lightness: -10%, $saturation: 50%);

.highlight {

    background-color: color.mix($cor-destaque, $cor-secundaria, 10%);
    border: 2px solid color.mix($cor-destaque, $cor-secundaria, 20%);
    // color: $cor-secundaria;
    padding: 0.1rem 0.15rem;
    border-radius: 0.2rem;

    color: color.mix($cor-destaque, $cor-secundaria, 80%);
    display: inline;
    line-height: inherit;
    line-height: 1.3;

}