@use '../../../../globalStyle.module.scss' as *;

.row {

    display: grid;
    grid-template-columns: repeat(7, minmax(75px, 1fr));
    min-width: calc( 7 * calc(75px + 0.5rem) + 0.5rem );
    // width: max-content;
    // max-width: max-content;
    // min-width: max-content;
    // width: clamp(100%, max-content, max-content);

    // width: 100%;
    box-sizing: border-box;
    border-bottom: 2px solid cor-mix(10%);
    // border-bottom-color: cor-mix(10%);
    border-radius: 0;
    background-color: transparent;
    // padding: 0.5rem;
    color: cor-mix(75%);

    overflow: hidden;
    min-height: 3.5rem;
    max-height: 3.5rem;

    transition: border-color 400ms ease, border-radius 400ms ease, background-color 400ms ease;

    &:hover {

        // border: 2px solid cor-mix(15%);
        // border-radius: 0.5rem;
        background-color: cor-mix(2%);

    }

    & > div {

        font-weight: 600;
        text-overflow: ellipsis;
        min-width: calc(75px - .1rem);

        & > p {
            overflow-x: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

    }

    .st {

        display: flex;
        justify-content: center;
        align-items: center;

        width: calc(25px - 0.5rem);
        height: calc(25px - 0.5rem);
        margin: 0;
        padding: 0.25rem;
        border-radius: 0.25rem;
        
        font-size: 0.8rem;
        text-align: center;
        // background-color: cor-mix(70%);
        // border: 2px solid cor-mix(90%);
        // color: cor-mix(0%);

        &[data-st="true"] {

            // background-color: cor-mix(75%);
            // background-color: darken(saturate(cor-mix(70%), 40%), 5%);
            background: linear-gradient(45deg, 
                darken(saturate(cor-mix(70%), 40%), 10%), 
                darken(saturate(cor-mix(50%), 40%), 10%) 
            );
            // border: 2px solid cor-mix(60%);
            color: cor-mix(0%);

        }

    }

    .composto {

        display: flex;
        flex-direction: column;
        // align-items: center;

        .main {

            font-size: 1rem;
            color: cor-mix(80%);

        }
        .second {

            font-size: 0.9rem;
            font-weight: 500;
            color: cor-mix(50%);

        }
        & > p {

            margin: 0;


        }

    }

    .tools {

        display: flex;
        gap: 0.5rem;

        button {

            outline: none;
            background-color: $cor-secundaria;
            transition: background-color 400ms ease, box-shadow 200ms ease;

            display: flex;
            padding: 0;
    
            justify-content: center;
            align-items: center;
    
            width: 30px;
            height: 30px;
            padding: 0.2rem;
    
            background: none;
            outline: none;

            // border: 2px solid cor-mix(30%);
            border: none;
            border-radius: 0.25rem;
            
            color: cor-mix(60%);
            font-weight: 600;

            overflow: hidden;

            cursor: pointer;

            &:hover {

                background-color: cor-mix(10%);
                box-shadow: inset 2px 2px 12px 2px transparentize(saturate(cor-mix(60%), 15%), 0.9);

            }

            &:active {

                box-shadow: inset 2px 2px 12px 2px transparentize(saturate(cor-mix(60%), 15%), 0.8);

            }

            svg path, line, ellipse {
                stroke: cor-mix(50%);
            }

            svg {
                min-width: 30px;
                max-height: 30px;
            }

        }

        [popover]:popover-open {

            opacity: 1;

        }

        [popover] {

            opacity: 0;

            padding: 1rem;

            overflow: hidden;
            background-color: $cor-secundaria;
            color: cor-mix(80%);
            border: cor-mix(30%);
            border-radius: 0.5rem;
            // width: 320px !important;

            box-shadow: 2px 2px 12px 2px $cor-primaria-transparent;

            transition: 
                opacity 500ms ease,
                background-color 400ms ease,
                display 400ms ease allow-discrete,
                overlay 400ms ease allow-discrete,
                ;
            // animation: appear 500ms;

            &::backdrop {

                background-color: transparent;

                backdrop-filter: blur(1px);

                transition:
                display 0.7s allow-discrete,
                overlay 0.7s allow-discrete,
                background-color 0.7s;

                &:hover {
                    cursor: pointer;
                }

            }

            &:popover-open {

                @starting-style{

                    opacity: 0;

                    &::backdrop {

                        background-color: transparent;

                    }
                }

                opacity: 1;

                &::backdrop {

                    background-color: transparentize(cor-mix(80%), 0.8);

                }
            }

            .header {

                display: flex;

                width: 100%;
                padding: 0.5rem 0.75rem;

                box-sizing: border-box;
                border-radius: 0.25rem;
                border: 2px solid darken(saturate(cor-mix(50%), 15%), 5%);
                border: 2px solid cor-mix(20%);

                background-color: cor-mix(10%);
                // background: linear-gradient(27deg, 
                // darken(saturate(cor-mix(40%), 15%), 5%), 
                // darken(saturate(cor-mix(80%), 15%), 5%), 
                // );

                & > h3 {
                    display: flex;
                    align-items: center;

                    margin: 0.5rem 0;
                    color: $cor-secundaria;
                    color: cor-mix(80%);

                    &:last-child {

                        margin-left: auto;

                    }
                }

                svg {

                    width: 40px;
                    height: 40px;

                    // perspective: 800px;
                    // animation: rotation 2s linear infinite alternate;

                    path {
                        // stroke: $cor-secundaria;
                        stroke: none;
                        
                        &:nth-child(1) {
                            // stroke: cor-mix(50%);
                            z-index: -1;
                        }
                        &:nth-child(2) {
                            fill: transparentize(darken(saturate(cor-mix(60%), 15%), 3%), 0);
                            fill: transparentize(darken(saturate(cor-mix(60%), 1%), 3%), 0);
                        }
                        &:nth-child(3) {
                            fill: transparentize(darken(saturate(cor-mix(40%), 15%), 3%), 0);
                            fill: transparentize(darken(saturate(cor-mix(40%), 1%), 3%), 0);
                        }
                        &:nth-child(4) {
                            fill: transparentize(darken(saturate(cor-mix(20%), 15%), 3%), 0);
                            fill: transparentize(darken(saturate(cor-mix(20%), 1%), 3%), 0);
                        }
                        
                    }
                }

            }

            .title {

                margin-top: 0.5rem;

                background-color: cor-mix(5%);
                border: 2px solid cor-mix(10%);
                border-radius: 0.25rem;

                h5 {
                    font-size: 0.9rem;
                    margin: 0.25rem;
                    padding-left: 0.5rem;
                    color: cor-mix(60%);
                }

            }

            .atributos {
                display: grid;
                grid-template-columns: 50% 50%;
                margin-top: 0.5rem;

                & > span {

                    & > input[type="text"] {
                        // font-family: $fonte-body;
                        width: clamp(50px, 100px, 100px);
                        border-color: cor-mix(10%);
                        color: cor-mix(90%);
                        font-weight: 500;
                        transition: border-color 400ms ease;
                        
                    }

                    &:nth-child(odd) {
                        border-right: 2px solid cor-mix(7%);
                    }

                    &:nth-last-child(2) {
                        border-bottom: none;
                    }
                }
            }

            .popoverWrap {

                display: flex;
                flex-direction: column;
                width: 100%;
                // width: max-content;
                // min-width: 400px;

                span {

                    display: flex;
                    justify-content: space-between;
                    gap: 0.5rem;


                }

            }

        }

        // @starting-style {
        //     [popover]:popover-open {
        //         opacity: 0;
        //     }
        // }

    }

}

.popoverWrap {

    // opacity: 0;

    padding: 1rem;

    overflow: hidden;
    background-color: $cor-secundaria;
    color: cor-mix(80%);
    border: cor-mix(30%);
    border-radius: 0.5rem;
    // width: 320px !important;

    box-shadow: 2px 2px 12px 2px $cor-primaria-transparent;

    transition: 
        opacity 500ms ease,
        background-color 400ms ease,
        display 400ms ease allow-discrete,
        overlay 400ms ease allow-discrete,
        ;
    // animation: appear 500ms;

    &::backdrop {

        background-color: transparent;

        backdrop-filter: blur(1px);

        transition:
        display 0.7s allow-discrete,
        overlay 0.7s allow-discrete,
        background-color 0.7s;

        &:hover {
            cursor: pointer;
        }

    }

    &:popover-open {

        @starting-style{

            opacity: 0;

            &::backdrop {

                background-color: transparent;

            }
        }

        opacity: 1;

        &::backdrop {

            background-color: transparentize(cor-mix(80%), 0.8);

        }
    }

    .header {

        display: flex;

        width: 100%;
        padding: 0.5rem 0.75rem;

        box-sizing: border-box;
        border-radius: 0.25rem;
        border: 2px solid darken(saturate(cor-mix(50%), 15%), 5%);
        border: 2px solid cor-mix(20%);
        gap: 0.5rem;

        background-color: cor-mix(10%);
        // background: linear-gradient(27deg, 
        // darken(saturate(cor-mix(40%), 15%), 5%), 
        // darken(saturate(cor-mix(80%), 15%), 5%), 
        // );

        & > h3 {
            display: flex;
            align-items: center;

            margin: 0.5rem 0;
            color: $cor-secundaria;
            color: cor-mix(80%);

            &:last-child {

                margin-left: auto;

            }
        }

        svg {

            width: 40px;
            height: 40px;

            // perspective: 800px;
            // animation: rotation 2s linear infinite alternate;

            path {
                // stroke: $cor-secundaria;
                stroke: none;
                
                &:nth-child(1) {
                    // stroke: cor-mix(50%);
                    z-index: -1;
                }
                &:nth-child(2) {
                    fill: transparentize(darken(saturate(cor-mix(60%), 15%), 3%), 0);
                    fill: transparentize(darken(saturate(cor-mix(60%), 1%), 3%), 0);
                }
                &:nth-child(3) {
                    fill: transparentize(darken(saturate(cor-mix(40%), 15%), 3%), 0);
                    fill: transparentize(darken(saturate(cor-mix(40%), 1%), 3%), 0);
                }
                &:nth-child(4) {
                    fill: transparentize(darken(saturate(cor-mix(20%), 15%), 3%), 0);
                    fill: transparentize(darken(saturate(cor-mix(20%), 1%), 3%), 0);
                }
                
            }
        }

    }

    .title {

        margin-top: 0.5rem;

        background-color: cor-mix(5%);
        border: 2px solid cor-mix(10%);
        border-radius: 0.25rem;

        h5 {
            font-size: 0.9rem;
            margin: 0.25rem;
            padding-left: 0.5rem;
            color: cor-mix(60%);
        }

    }

    .atributos {
        display: grid;
        grid-template-columns: 50% 50%;
        margin-top: 0.5rem;

        & > span {

            & > input[type="text"] {
                // font-family: $fonte-body;
                width: clamp(50px, 100px, 100px);
                border-color: cor-mix(10%);
                color: cor-mix(90%);
                font-weight: 500;
                transition: border-color 400ms ease;
                
            }

            &:nth-child(odd) {
                border-right: 2px solid cor-mix(7%);
            }

            &:nth-last-child(2) {
                border-bottom: none;
            }
        }
    }

    .popoverWrap {

        display: flex;
        flex-direction: column;
        width: 100%;
        // width: max-content;
        // min-width: 400px;

        span {

            display: flex;
            justify-content: space-between;
            gap: 0.5rem;


        }

    }

}


// @keyframes rotation {
//     to {
//         transform: rotate3d(0, 1, 0);
//     }
    
//     from {
//         transform: rotate3d(0, 1, 0, 3.142rad);
//     }
// }
